@charset "utf-8";
/*@media:font-size[device-width:750px,1rem=100px]*/
@media only screen and (min-width: 1440px), only screen and (min-device-width:1440px) {
html,body {font-size:100px;}
}
@media only screen and (max-width: 1440px), only screen and (max-device-width:1440px) {
html,body {font-size:100px;}
}
@media only screen and (max-width: 1024px), only screen and (max-device-width:1024px) {
html,body {font-size:136.53px;}
}
@media only screen and (max-width: 960px), only screen and (max-device-width:960px) {
html,body {font-size:128px;}
}
@media only screen and (max-width: 950px), only screen and (max-device-width:950px) {
html,body {font-size:126.67px;}
}
@media only screen and (max-width: 900px), only screen and (max-device-width:900px) {
html,body {font-size:120px;}
}
@media only screen and (max-width: 800px), only screen and (max-device-width:800px) {
html,body {font-size:106.67px;}
}
@media only screen and (max-width: 773px), only screen and (max-device-width:773px) {
html,body {font-size:103.07px;}
}
@media only screen and (max-width: 768px), only screen and (max-device-width:768px) {
html,body {font-size:102.4px;}
}
@media only screen and (max-width: 750px), only screen and (max-device-width:750px) {
html,body {font-size:100px;}
}
@media only screen and (max-width: 736px), only screen and (max-device-width:736px) {
html,body {font-size:98.13px;}
}
@media only screen and (max-width: 720px), only screen and (max-device-width:720px) {
html,body {font-size:96px;}
}
@media only screen and (max-width: 667px), only screen and (max-device-width:667px) {
html,body {font-size:88.93px;}
}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
html,body {font-size:85.33px;}
}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
html,body {font-size:80px;}
}
@media only screen and (max-width: 568px), only screen and (max-device-width:568px) {
html,body {font-size:75.73px;}
}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
html,body {font-size:72px;}
}
@media only screen and (max-width: 533px), only screen and (max-device-width:533px) {
html,body {font-size:71.07px;}
}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
html,body {font-size:64px;}
}
@media only screen and (max-width: 435px), only screen and (max-device-width:435px) {
html,body {font-size:58px;}
}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
html,body {font-size:55.2px;}
}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
html,body {font-size:50px;}
}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
html,body {font-size:48px;}
}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
html,body {font-size:42.67px;}
}

/*reset*/
*{margin:0;padding:0;border:0;outline:0;-webkit-tap-highlight-color:transparent;-webkit-box-sizing:border-box;box-sizing:border-box;}
html,body{width:100%;height:100%;font-family:"Microsoft Yahei";-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#efeff4;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;border:0;}
ul,ol,dl{list-style-type:none;}
input,textarea{border:none;outline:0;resize:none;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;text-decoration:none;}
input,button{overflow: visible;vertical-align:middle;outline:none; white-space: nowrap;  text-overflow: ellipsis; overflow: hidden;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button {height: auto}
input[type="search"] {-webkit-appearance: textfield;-moz-box-sizing: content-box;-webkit-box-sizing: content-box;box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
img{border:none;vertical-align:middle;}
a img,img{-ms-interpolation-mode:bicubic;}
a{text-decoration:none;}
a,area{outline:none;blr:expression(this.onFocus=this.blur());}
a{text-decoration:none;cursor: pointer;color:#292A2C;}
a:hover{text-decoration:none;outline:none;}
a:hover,a:active,a:focus{outline:none;}

/*common*/
.clearfix:after,.clearfix:before{content:"";line-height:0;height:0;display:block;visibility:hidden;clear:both;}
.clearfix{zoom:1}
.mt20{margin-top:0.2rem;}
.wapper{width:100%;} 
.load_more{padding:0.1rem;font-size:0.28rem;color:#4A4A4A;text-align:center;}
.event_pop{display: block;width: 1rem;height: 1rem;position: fixed;bottom:0.32rem;left:0.24rem;background:url(/images/dt/event-pop.png) no-repeat;background-size:100%;}
.bd{border-top:0.02rem solid #dbe3ea;background-image:none !important;}
.column{
	position: fixed;
	bottom:0;
	left:0;
	height:1rem;
	width: 100%;
	background: #fff;
}
.column img{
	width:0.48rem;
	height:0.32rem;
	margin-bottom: 0.1rem;
}
.column_item{
	margin-top: 0.2rem;
	float: left;
	
    width:25%;
    text-align: center;
    font-size: 0.2rem;
    color:#36A3F9;
}
.gray{color:#B7BABB;}
/*弹框*/
.show{
  display: block;
}
.hide{
  display: none;
}
.pop{width:100%;height:100%;background:rgba(0,0,0,0.5);overflow:hidden;position:fixed;top:0;left:0;z-index:99;}
.pop .box_tips{width:5.6rem;height:3rem;background:rgba(0,0,0,0.6);text-align:center;position:absolute;top:50%;left:50%;margin-top:-1.5rem;margin-left:-2.8rem;border-radius:0.2rem;}
.pop .box_tips img{display:inline-block;width:0.76rem;height:0.76rem;margin-top:0.26rem;}
.pop .box_tips span{display:block;font-size:0.3rem;line-height:0.46rem;color:#dbe3ea;margin-top:0.26rem;}
/*无数据提示*/
.sm_noneTic{width: 100%;padding: 1.5rem 0.1rem;text-align: center;}
.sm_noneTic img{display: block;width: 4.94rem;margin: 0 auto;}
.sm_noneTic strong{display: block;margin-top: 0.5rem;font-size: 0.32rem;color: #99a6b1;font-weight: normal;}
.sm_noneTic span{display: block;margin-top: 0.2rem;font-size: 0.24rem;color: #99a6b1;}
.sm_noneTic a{display: inline-block;width: 3.6rem;height: 0.88rem;line-height: 0.88rem;border-radius: 0.04rem;background: #008eff;margin-top: 0.4rem;font-size: 0.36rem;color: #fff;}
/*提示*/
.tishi{
	width:100%;
	height:2rem;
	color:#999;
	line-height: 2rem;
	text-align: center;
	font-size: 0.32rem;
}
.apptit{
	float:left;
	font-size: 0.28rem;
	line-height:0.58rem;
	color:#fff;
}
.pop_list_title {
	width: 100%;
	height: 0.88rem;
	padding: 0.14rem 0.2rem;
	background: #36A3F9;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
}
.pop_list_title .input_area {
	float: left;
	width: 80%;
	padding: 0.12rem;
	height: 0.6rem;
	background: #5DB4F9;
	margin-left: 0.1rem;
	border-radius: 2rem;
}
