<template>
    <div class="wapper">
        <div class="title">
           <div class="search">
            <span>出行信息查询</span>
          </div>
        </div>
        <div class="line_wapper">
              <div class="line_info" v-for='(item,index) in list'>
              <router-link :to="{ path:'/cxinfo', query: {id:item.id}}">
                  <img :src=item.image />
                  <div class="site">
                      <span class="lt">{{item.title}}</span>
                      <span class="tt">{{item.create_time}}</span>
                  </div>
              </router-link>
              </div>
              <div style="height:1rem;width:100%"></div>
        </div>
        <div class="sm_noneTic" v-bind:style="{display:none_data}">
            <img src="../assets/line/icon-none.png" alt="无数据" />
            <strong>暂无出行信息</strong>
        </div>
        <menuShow :menuSelect1="menuSelect"></menuShow>
    </div>
</template>

<script>
import axios from 'axios'
import menuShow from './menu.vue'

export default {
  name: 'user',
  data () {
    return {
      menuSelect:3,
      none_data: 'none',
      list:[]
    }
  },
  mounted: function () {
    this.getList()
  },
  methods: {
    getList: function(name){
       axios.post('/api/bus/getNewsList').then(function (response) {
          if(response.data.code==0){
            this.none_data = 'block'
          }else{
            this.list = response.data.data
          }
      }.bind(this));
    },
    
  },
  components: {
    menuShow,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.title{
  background:#36A3F9;
  height:0.88rem;
  width:100%;
  padding-top:0.14rem;
}
.search{
  text-align: center;
    margin:0 auto;
    border-radius: 2rem;
    height:0.6rem;
    line-height: 0.6rem;
    width:90%;
    /*background:#88bfec;*/
    font-size: 0.28rem;
    color:#fff;
}
.search_box span{
    padding-left:0.56rem;
    line-height: 0.6rem;
    background: url(../assets/line/search2.png) no-repeat left;
    background-size: 0.32rem;
}
.line_wapper .line_info{
  margin:0.2rem 0;
  background: #fff;
  padding:0.2rem;
  overflow: hidden;
}
.line_info img{
   height: 1rem;
   width:1rem;
   float:left;
}
.line_wapper .site{
    color: #000;
    height: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding-left:0.3rem;
}

.line_wapper .site span{
    //width: 40%;
    white-space:nowrap;
    text-overflow: ellipsis;
    display:block;
}
.lt{
  height:0.6rem;
  font-size: 0.36rem;
}
.tt{
  height:0.4rem;
  font-size: 0.3rem;
  color:#999;
}
.toggle{
  display: none;
}
</style>
