<template>
    <div class="wapper">
        <div class="title">
           <div class="search">
            <span>出行详情</span>
          </div>
        </div>
        <div class="line_wapper">
              <div class="info_title">{{info.title}}</div>
              <div class="info_content" v-html="info.content"></div>
        </div>
        <div style="height:1rem;width:100%"></div>
        <menuShow :menuSelect1="menuSelect"></menuShow>
    </div>
</template>

<script>
import axios from 'axios'
import menuShow from './menu.vue'

export default {
  name: 'cxinfo',
  data () {
    return {
      menuSelect:3,
      id: this.$route.query.id,
      info:[]
    }
  },
  mounted: function () {
    this.getInfo()
  },
  methods: {
    getInfo: function(name){
       axios.post('/api/bus/getNewsinfo',{id:this.id}).then(function (response) {
          this.info = response.data.data
      }.bind(this));
    },
    
  },
  components: {
    menuShow,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.title{
  background:#36A3F9;
  height:0.88rem;
  width:100%;
  padding-top:0.14rem;
}
.search{
  text-align: center;
    margin:0 auto;
    border-radius: 2rem;
    height:0.6rem;
    line-height: 0.6rem;
    width:90%;
    /*background:#88bfec;*/
    font-size: 0.28rem;
    color:#fff;
}
.search_box span{
    padding-left:0.56rem;
    line-height: 0.6rem;
    background: url(../assets/line/search2.png) no-repeat left;
    background-size: 0.32rem;
}
.line_wapper{
  //background:#fff;
  width:100%;
}
.info_title{
   font-size:0.4rem;
   padding:0.3rem 0.1rem;
}
.info_content{
  font-size:0.35rem;
  width:100%;
  padding:0.1rem;
  text-align:left;
}
</style>
