<template>
    <div class="wapper">
          <div class="tag">
              <a style="margin-left:0.4rem;" v-bind:class="{active: defaults==1}" v-on:click='change(1)'>概况</a>
              <a style="margin-left:0.8rem;" v-bind:class="{active: defaults==2}" v-on:click='change(2)'>详情</a>
              <a style="margin-left:0.8rem;" v-bind:class="{active: defaults==3}" v-on:click='change(3)'>评价</a>
          </div> 

          <!-- 概况页-->
          <div class="gkcontent" v-bind:class="{toggle: defaults!=1}">
            <div class="gkinfo">
              <div class="name">{{gkinfo.locationname}}
                <div class="dh" @click="goTo()"><img src="../assets/line/goto.jpg"></div>
              </div>
              <div class="opentime">开放时间：{{gkinfo.open_time}}   &emsp;收费：{{gkinfo.charge}}   &emsp;面积：{{gkinfo.mianji}}</div>
              <div class="address">{{gkinfo.detailaddress}}</div>
            </div>

            <div class="sspb">
               <div>设施配备</div>
               <div class="imginfo">
                  <img src="../assets/line/cjrz2.png" v-if="gkinfo.wzazy"><img src="../assets/line/cjrz1.png" v-else>
                  <img src="../assets/line/mys2.png" v-if="gkinfo.mys"><img src="../assets/line/mys1.png" v-else>
                  <img src="../assets/line/cz2.png" v-if="gkinfo.cezhi"><img src="../assets/line/cz1.png" v-else>
                  <img src="../assets/line/wifi2.png" v-if="gkinfo.wifi"><img src="../assets/line/wifi1.png" v-else>
                  <img src="../assets/line/mhq2.png" v-if="gkinfo.xfsb"><img src="../assets/line/mhq1.png" v-else>
               </div>
            </div>

            <div class="pf">
               <div class="title">评分({{gkinfo.start}})
                  <router-link :to="{ path:'/feedback',query:{id:this.id}}">
                    <div class="gopj"><img src="../assets/line/edit.png">写评论</div>
                  </router-link>
               </div>
               <div class="zhpf">综合评分&emsp;&emsp;
                    <img src="../assets/line/xing2.png" v-if="gkinfo.start>0"><img src="../assets/line/xing1.png" v-else></span>
                    <img src="../assets/line/xing2.png" v-if="gkinfo.start>1"><img src="../assets/line/xing1.png" v-else></span>
                    <img src="../assets/line/xing2.png" v-if="gkinfo.start>2"><img src="../assets/line/xing1.png" v-else></span>
                    <img src="../assets/line/xing2.png" v-if="gkinfo.start>3"><img src="../assets/line/xing1.png" v-else></span>
                    <img src="../assets/line/xing2.png" v-if="gkinfo.start>4"><img src="../assets/line/xing1.png" v-else></span>
               </div>
               <div class="zkqbpl" v-on:click='change(3)'>查看全部评论<span>></span></div>
            </div>
          </div>

          <!-- 详情页-->
          <div class="xqcontent" v-bind:class="{toggle: defaults!=2}">
            <div class="gkinfo">
                <div class="name">{{gkinfo.locationname}}
                  <div class="dh" @click="goTo()"><img src="../assets/line/goto.jpg"></div>
                </div>
                <div class="address">{{gkinfo.detailaddress}}</div>
            </div>

            <div class="sspb">
               <div>基础信息</div>
               <div class="jxinfo">
                  <div class="infoname">公厕现状</div><div class="infoval">正常使用</div>
                  <div class="infoname">收费</div><div class="infoval">{{gkinfo.charge}}</div>
                  <div class="infoname">开放时间</div><div class="infoval">{{gkinfo.open_time}}</div>
                  <div class="infoname">厕纸</div><div class="infoval">{{gkinfo.cezhi_msg}}</div>
                  <div class="infoname">消防设备</div><div class="infoval">{{gkinfo.xfsb_msg}}</div>
                  <div class="infoname">wifi</div><div class="infoval">{{gkinfo.wifi_msg}}</div>
               </div>
            </div>

            <div class="sspb">
               <div>管理员信息</div>
               <div class="jxinfo">
                  <br/>
                  暂无管理员信息
               </div>
            </div>

            <div class="sspb">
               <div>厕位情况</div>
               <div class="csinfo">
                  <div class="numinfo"><img src="../assets/line/ncs.png"><br/>男厕</div>
                  <div class="numinfo numtext">{{gkinfo.nac_dun}}<br/>蹲位</div>
                  <div class="numinfo numtext">{{gkinfo.nac_zuo}}<br/>坐位</div>
                  <div class="numinfo numtext">{{gkinfo.nac_zan}}<br/>站位</div>
               </div>
               <div class="csinfo">
                  <div class="numinfo"><img src="../assets/line/vcs.png"><br/>女厕</div>
                  <div class="numinfo numtext">{{gkinfo.nvc_dun}}<br/>蹲位</div>
                  <div class="numinfo numtext">{{gkinfo.nvc_zuo}}<br/>坐位</div>
               </div>
               <div class="csinfo">
                  <div class="numinfo"><img src="../assets/line/cjrz2.png"><br/>特殊</div>
                  <div class="numinfo numtext">{{gkinfo.mys}}<br/>母婴</div>
                  <div class="numinfo numtext">{{gkinfo.wzazy}}<br/>无障碍</div>
               </div>
            </div>

          </div>

          <!-- 评价页-->
          <div class="xqcontent" v-bind:class="{toggle: defaults!=3}">
            <div class="pf">
               <div class="title">评分({{gkinfo.start}})
                  <router-link :to="{ path:'/feedback',query:{id:this.id}}">
                     <div class="gopj"><img src="../assets/line/edit.png">写评论</div>
                  </router-link>
               </div>
               <div class="zhpf">综合评分&emsp;&emsp;
                    <img src="../assets/line/xing2.png" v-if="gkinfo.start>0"><img src="../assets/line/xing1.png" v-else></span>
                    <img src="../assets/line/xing2.png" v-if="gkinfo.start>1"><img src="../assets/line/xing1.png" v-else></span>
                    <img src="../assets/line/xing2.png" v-if="gkinfo.start>2"><img src="../assets/line/xing1.png" v-else></span>
                    <img src="../assets/line/xing2.png" v-if="gkinfo.start>3"><img src="../assets/line/xing1.png" v-else></span>
                    <img src="../assets/line/xing2.png" v-if="gkinfo.start>4"><img src="../assets/line/xing1.png" v-else></span>
               </div>
               <div class="pjcount"><span>{{gkinfo.ap}}</span>全部</div>
               <div class="pjcount"><span>{{gkinfo.hp}}</span>好评</div>
               <div class="pjcount"><span>{{gkinfo.zp}}</span>中评</div>
               <div class="pjcount"><span>{{gkinfo.cp}}</span>差评</div>
            </div>
          </div>
    </div>
</template>

<script>
import axios from 'axios'
import wx from 'weixin-js-sdk'
//import Router from '../router/index.js'
import Vue from 'Vue'

export default {
  name: 'detail',
  data () {
    return {
      defaults:1,
      gkinfo:{},
      id: this.$route.query.id,
      lng: this.$route.query.lng,
      lat: this.$route.query.lat
    }
  },
  mounted: function () {
    this.getInfo()
  },
  methods: {
    change: function (status) {
      this.defaults = status  
    },
    getInfo: function(){
      axios.post('/api/cesuo/getInfo', {id:this.id}).then(function (response) {
        this.gkinfo = response.data.data; 
        console.log(response.data.data);
      }.bind(this));
    },
    goTo: function(){
       //window.open('https://m.amap.com/navigation/walkmap/saddr='+this.lng+','+this.lat+',我的位置&daddr='+this.info.longitude+','+this.info.latitude+','+this.info.address+'&sort=dist');
       //window.location.href='https://m.amap.com/navigation/walkmap/saddr='+this.lng+','+this.lat+',我的位置&daddr='+this.gkinfo.longitude+','+this.gkinfo.latitude+','+this.gkinfo.detailaddress+'&sort=dist';
       wx.openLocation({
          latitude: this.gkinfo.latitude, // 纬度，浮点数，范围为90 ~ -90
          longitude: this.gkinfo.longitude, // 经度，浮点数，范围为180 ~ -180。
          name: this.gkinfo.locationname, // 位置名
          address: this.gkinfo.detailaddress, // 地址详情说明
          scale: 15, // 地图缩放级别,整形值,范围从1~28。默认为最大
          infoUrl: '' // 在查看位置界面底部显示的超链接,可点击跳转
        });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*菜单*/
.tag {
    background-color: #eee;
    width: 100%;
    height: 0.8rem;
    font-size: 0.32rem;
}
.active{
    color: #36A3F9;
    border-bottom: 1px solid #36A3F9;
}
.tag a {
    text-align: center;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    width: 1.6rem;
    color: #9A9DA0;
}
.toggle{
  display: none;
}

/*----------------概况页*/
.gkinfo{
  width:100%;
  background:#fff;
  font-size:0.32rem;
  text-align:left;
  padding:0.3rem;
}
.gkinfo .name{
   font-size:0.35rem;
   line-height:0.6rem;
   //font-weight:bold;
   overflow: hidden;
}
.gkinfo .name .dh{
   font-size:0.26rem;
   width:1.6rem;
   //height:0.5rem;
   //line-height:0.5rem;
   //background: #36A3F9;
   float: right;
   color:#fff;
   font-weight:normal; 
   overflow: hidden; 
   margin-top:0rem;
}
.dh img{
  float: left;
  width:90%;
  //height:0.5rem;
  margin-left:0.1rem;
}
.gkinfo .opentime{
  font-size:0.25rem;
  margin-top:15px;
}
.gkinfo .address{
  padding-left: 0.3rem;
  background: url(../assets/line/13.png) no-repeat left center;
  background-size: 0.28rem 0.36rem;
  font-size:0.25rem;
  margin-top:15px;
}
.sspb{
   margin-top:10px;
   background:#fff;
   font-size:0.3rem;
   text-align:left;
   padding:0.3rem;
}

.imginfo img{
   margin:10px;
   width:0.8rem;
}

.pf{
   margin-top:10px;
   background:#fff;
   font-size:0.3rem;
   text-align:left;
   padding:0.3rem;
   overflow: hidden;
}
.pf .title{
   font-size:0.3rem;
   line-height:0.6rem;
   overflow: hidden;
}
.pf .title .gopj{
   font-size:0.2rem;
   width:1.5rem;
   height:0.4rem;
   line-height:0.4rem;
   background: #36A3F9;
   float: right;
   color:#fff;
   overflow: hidden; 
   margin-top:0.1rem;
}
.gopj img{
  float: left;
  width:0.3rem;
  height:0.3rem;
  margin:0.03rem 0.1rem;
}

.zhpf{
  background:#eee;
  text-align:center;
  height:1rem;
  line-height:1rem;
  margin-top:0.1rem;
}
.zhpf img{
  width:0.4rem;
}
.zkqbpl{
  color:#1296db;
  overflow: hidden; 
  margin-top:0.1rem;
}
.zkqbpl span{
  float:right;
}

/*----------------详情页*/
.jxinfo{
  overflow: hidden; 
  margin-top:0.1rem;
}
.jxinfo .infoname{
  width:25%;
  line-height:0.8rem;
  float: left;
  text-align:left;
}
.jxinfo .infoval{
  width:25%;
  line-height:0.8rem;
  float: left;
  text-align:right;
  color:#ccc;
  padding-right:0.2rem;
}
.csinfo{
  margin-top:0.1rem;
  background:#eee;
  padding:0.1rem 0.2rem;
  overflow: hidden; 
}
.numinfo{
  text-align:center;
  width:25%;
  float: left;
  line-height:0.6rem;
}
.numtext{
  padding-top:0.2rem;
}
/*----------------评价页*/
.pjcount{
   float: left;
   margin:0.4rem 0.2rem;
   font-size:0.25rem;
   border:1px #36A3F9 solid;
   width:1rem;
   text-align:center;
   overflow: hidden;
}
.pjcount span{
   color:#fff;
   background: #36A3F9;
   float: left;
   padding:0 0.05rem;
   font-size:0.3rem;
}
</style>
