<template>
    <div class="wapper">
        <div class="title">
           <div class="search">
            <span>我的反馈</span>
          </div>
        </div>
        <div class="line_wapper">   
            <div id="time_list" v-for='(item,index) in list'>
                <div class="line_info">
                    <div class="site">
                        <span class="dot_s"></span>
                        <span class="from">{{item.add_time}}</span>
                        <img src="../assets/line/xia.png" v-bind:class="{ toggle: showbus==index }" @click="showBus(index)"/>
                    </div>
                    <div style="border-top:1px #36A3F9 solid;" v-bind:class="{ toggle: showbus!=index }">
                      <div class="tit">
                        {{item.content}}
                      </div>
                    </div>
                </div>
            </div>
            <div style="height:1rem;width:100%"></div>
        </div>
        <div class="sm_noneTic" v-bind:style="{display:none_data}">
            <img src="../assets/line/icon-none.png" alt="无数据" />
            <strong>暂无反馈信息</strong>
        </div>
        <menuShow :menuSelect1="menuSelect"></menuShow>
    </div>
</template>

<script>
import axios from 'axios'
import Vue from 'Vue'
import menuShow from './menu.vue'

export default {
  name: 'feedbackList',
  data () {
    return {
      menuSelect:4,
      none_data: 'none',
      showbus:0,
      idCardNumber: '',
      list:[]
    }
  },
  mounted: function () {
    this.idCardNumber = Vue.prototype.idCardNumber
    this.getList()
  },
  methods: {
    showBus: function(index){
      this.showbus = index
    },
    getList: function(name){
       axios.post('/api/bus/getFeedback', {idCardNumber:this.idCardNumber}).then(function (response) {
          if(response.data.code==0){
            this.none_data = 'block'
          }else{
            this.list = response.data.data
          }
      }.bind(this));
    },
  },
  components: {
    menuShow,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.title{
  background:#36A3F9;
  height:0.88rem;
  width:100%;
  padding-top:0.14rem;
}
.search{
  text-align: center;
    margin:0 auto;
    border-radius: 2rem;
    height:0.6rem;
    line-height: 0.6rem;
    width:90%;
    /*background:#88bfec;*/
    font-size: 0.28rem;
    color:#fff;
}

.line_wapper .line_info{
  //height:1.7rem;
  margin:0.2rem 0;
  background: #fff;
  padding:0.3rem;
}
.line_wapper .site{
    font-size: 0.35rem;
    color: #000;
    margin-bottom: 0.3rem;
    height: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.line_wapper .site .dot_s{
  float: left;
  width:0.56rem;
  height:0.42rem;
  background: url(../assets/line/yjfk.png) no-repeat left center;
    background-size: 0.36rem 0.32rem;
}
.line_wapper .site span{
    width: 40%;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.line_wapper .tit{
    color:#9A9DA0;
    font-size: 0.31rem;
    margin-bottom: 0.2rem; 
    text-align: left;
    padding-top:0.3rem;
}

.site img{
  float: right;
  margin-right: 0.1rem;
  height:0.5rem;
}
.toggle{
  display: none;
}
</style>
