<template>
    <div class="wapper">
        <div class="title">
           <div class="search">
            <span>写评论</span>
          </div>
        </div>
        <div class="pf">
          <div class="pjtitle">评分：</div>
          <div class="pfxing">
            <span v-on:click='change(1)'><img src="../assets/line/xing2.png" v-if="start>0"><img src="../assets/line/xing1.png" v-else></span>
            <span v-on:click='change(2)'><img src="../assets/line/xing2.png" v-if="start>1"><img src="../assets/line/xing1.png" v-else></span>
            <span v-on:click='change(3)'><img src="../assets/line/xing2.png" v-if="start>2"><img src="../assets/line/xing1.png" v-else></span>
            <span v-on:click='change(4)'><img src="../assets/line/xing2.png" v-if="start>3"><img src="../assets/line/xing1.png" v-else></span>
            <span v-on:click='change(5)'><img src="../assets/line/xing2.png" v-if="start>4"><img src="../assets/line/xing1.png" v-else></span>
          </div>
          <div class="pjtitle" v-if="start==5">非常满意，很舒服</div>
          <div class="pjtitle" v-else-if="start==4">比较满意，仍可改进</div>
          <div class="pjtitle" v-else-if="start==3">感觉一般，需要改善</div>
          <div class="pjtitle" v-else-if="start==2">感觉较差，需要改善</div>
          <div class="pjtitle" v-else>感觉很差，无法容忍</div>
          <!-- 5星评价-->
          <div class="checkbox" v-bind:class="{toggle: start==5}">
              <input type="checkbox" id="1" value="环境舒服" v-model="checkedNames">
              <label for="1">环境舒服</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start==5}">
              <input type="checkbox" id="2" value="卫生干净" v-model="checkedNames">
              <label for="2">卫生干净</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start==5}">
              <input type="checkbox" id="3" value="没有异味" v-model="checkedNames">
              <label for="3">没有异味</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start==5}">
              <input type="checkbox" id="4" value="位置好找" v-model="checkedNames">
              <label for="4">位置好找</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start==5}">
              <input type="checkbox" id="5" value="设备齐全" v-model="checkedNames">
              <label for="5">设备齐全</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start==5}">
              <input type="checkbox" id="6" value="服务到位" v-model="checkedNames">
              <label for="6">服务到位</label>
          </div>
          <!-- 4星评价-->
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="11" value="环境差" v-model="checkedNames">
              <label for="11">环境差</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="22" value="没有水" v-model="checkedNames">
              <label for="22">没有水</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="33" value="没有电" v-model="checkedNames">
              <label for="33">没有电</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="44" value="没有洗手液" v-model="checkedNames">
              <label for="44">没有洗手液</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="55" value="卫生脏" v-model="checkedNames">
              <label for="55">卫生脏</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="66" value="有异味" v-model="checkedNames">
              <label for="66">有异味</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="7" value="有烟味" v-model="checkedNames">
              <label for="7">有烟味</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="8" value="设备损坏" v-model="checkedNames">
              <label for="8">设备损坏</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="9" value="缺厕位" v-model="checkedNames">
              <label for="9">缺厕位</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="10" value="位置偏" v-model="checkedNames">
              <label for="10">位置偏</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="111" value="服务差" v-model="checkedNames">
              <label for="111">服务差</label>
          </div>
          <div class="checkbox" v-bind:class="{toggle: start!=5}">
              <input type="checkbox" id="222" value="没厕纸" v-model="checkedNames">
              <label for="222">没厕纸</label>
          </div>

          <br>
          
        </div>
        <div class="info">
          <textarea v-model="content" placeholder="输入评论内容……"></textarea>
          <div class="botton" @click="submit()">确认提交</div>
        </div>
    </div>
</template>

<script>
import Vue from 'Vue'
import axios from 'axios'

export default {
  name: 'feedback',
  data () {
    return {
      id: this.$route.query.id,
      idCardNumber: '',
      uname: '',
      content:'',
      start:5,
      checkedNames:[]
    }
  },
  mounted: function () {
    this.idCardNumber = Vue.prototype.idCardNumber
    this.uname = Vue.prototype.uname
  },
  methods: {
     change: function (status) {
        this.start = status  
     },
     submit: function(){
       if(!this.content){
          layer.msg('内容不能为空');
          return;
       }
       var l = layer.load();
       axios.post('/api/cesuo/submitPj', {idCardNumber:this.idCardNumber,uname:this.uname,start:this.start,checkedNames:this.checkedNames,content:this.content,c_id:this.id}).then(function (response) {
          layer.close(l);
          console.log(response.data.data);
          if(response.data.code==1){
            layer.msg('提交成功');
            this.content = ''
          }else{
            layer.msg('提交失败');
          }
        }.bind(this));
     } 
  },
  components: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.wapper{
  font-size: 0.25rem;
}
.title{
  background:#36A3F9;
  height:0.88rem;
  width:100%;
  padding-top:0.14rem;
}
.search{
  text-align: center;
    margin:0 auto;
    border-radius: 2rem;
    height:0.6rem;
    line-height: 0.6rem;
    width:90%;
    /*background:#88bfec;*/
    font-size: 0.28rem;
    color:#fff;
}

.pf{
  padding:0.1rem;
  overflow: hidden; 
  background:#fff;
}
.pjtitle{
  font-size: 0.35rem;
}
.pfxing img{
   width:0.5rem;
   margin:0.2rem 0.1rem;
}
.checkbox{
  width:50%;
  float:left;
  height:1rem;
  line-height:1rem;
  font-size: 0.35rem;
  display: none;
  text-align:left;
  padding-left:0.5rem;
}

.info{
  width:100%;
  background:#fff;
  margin-top:0rem;
  font-size:0.4rem;
  height:1rem;
  line-height:1rem;
}
textarea{
  width:100%;
  height:2rem;
  border: 1px solid #dbe3ea;
  font-size:0.35rem;
  padding:0.2rem;
}
.botton{
  width:80%;
  height:0.88rem;
  line-height:0.88rem;
  margin:auto;
  margin-top:1.5rem;
  color:#fff;
  background:#36A3F9;
}

.toggle{
  display: block;
}
</style>
