<template>
  <div class="wapper">
    <div>
      <div class="pop_list_title">
        <span class="apptit">实时公交</span>
        <div class="input_area" id="address_input">
          <input placeholder="请输入站点或线路" v-model="keywords" v-on:input="showInput"/>
        </div>
        <span class="apptit" style="margin-left:10px" @click="reflash()">刷新</span>
      </div>
      <div class="tag">
          <a class="active">附近站点</a><a @click="siteMap()">地图</a>
      </div>
    <div class="line_list">
        <div class="part" v-for="(item,index) in items">
          
          <div class="site">
            <router-link :to="{ path:'/transferList', query: { siteId: item.siteId,  lineName:item.line, siteName: item.site}}">
            <span><strong>{{item.site}}</strong></span>
            </router-link>
            <!--<span class="sitedistance">{{item.distance}}</span>-->
            <span class="sitedistance" v-bind:class="{ toggle: showbus==index }" @click="showBus(index)"><img src="../assets/line/xia.png"/></span>
          </div>
          
          <div v-for="bus in item.buslist" v-bind:class="{ toggle: showbus!=index }">
           <router-link :to="{ path:'/simpleMap', query: { siteId: item.siteId,  lineId:bus.lineId, siteName: item.site}}">
            <div style="border-top:1px #ccc solid;margin:10px 0px"></div>
            <div class="tit">
              <span class="name"><strong>{{bus.line_name}}</strong></span>
              <span class="distance">距离<strong>{{bus.diff_num}}</strong>站</span>
            </div>
            <div class="tit">
                <span class="next_site" style="padding-left:0.3rem">方向：<font color="#000">{{bus.end_name}}</font></span>
                <span class="next_site" style="float:right;margin-right: 0.35rem">下一站：<font v-bind:class="[bus.next_name=='等待发车'?'redcolor':'blackcolor']">{{bus.next_name}}</font></span>
            </div>
           </router-link>
          </div>
        </div>
        <div style="height:1rem;width:100%"></div>
    </div>
    <div class="scroll" v-if="isSearch">
        <ul class="max-height">
            <li v-bind:class="[item.type==1?'line':'site']" v-for="item in lineSite">
              <router-link :to="{ path:'/transferList', query: { siteId: item.id,lineName:'',siteName: item.name}}" v-if="item.type==2">
                <span class='site_big'>{{item.name}}</span>
              </router-link>
              <router-link :to="{ path:'/simpleMap', query: { siteId:'',lineId:item.id,siteName:''}}" v-else>
                <span class='site_big'>{{item.name}}</span>
              </router-link>
            </li>
        </ul>
    </div>
    <menuShow :menuSelect1="menuSelect"></menuShow>
    
    <div class="sm_noneTic" v-bind:class="{ toggle: isShow }">
      <img src="../assets/line/icon-none.png" alt="无数据" />
      <div><strong>{{msg}}</strong></div>
    </div>
    </div>
    <router-link :to="{ path:'/feedback'}">
    <div class="yjfk"><img src="../assets/line/yjfk.png" alt="意见反馈" />反馈</div>
    </router-link>
  </div>
</template>


<script>
import AMap from 'AMap'
import wx from 'weixin-js-sdk'
import Vue from 'Vue'
import axios from 'axios'
import menuShow from './menu.vue'
import Router from '../router/index.js'

export default {
  name: 'FjSite',
  data () {
    return {
      menuSelect:1,
      isShow: false,
      items: [],
      lineSite: [],
      lineInfos: [],
      lat:'',
      lng:'',
      msg:'数据加载中......',
      keywords:'',
      isSearch:false,
      idCardNumber: this.$route.query.idCardNumber,
      uname: this.$route.query.uname,
      showbus:0,
    }
  },
  mounted: function () {
    this.$nextTick(() => {
      setTimeout(() => {
        this.wxInit()
      }, 100)
    })
    
  },
  methods: {
    getstations: function(){
      axios.post('/api/bus/getstations', {lat:this.lat,lng:this.lng}).then(function (response) {
        this.items = response.data.data;
        if(response.data.data.length>0){
          this.isShow = true
        }else{
          this.msg = '暂无站点信息'
        }
        console.log(response.data.data);
      }.bind(this));
    },
    wxInit: function(){
      layer.msg('定位中...',{icon:16,time:1000});
      this.getPargam()
      var url = location.href.split('#')[0] //获取锚点之前的链接
      axios.post('/api/bus/getJssdk', {url:url}).then(function (response) {
          //console.log(response.data.data);
          var res = response.data.data
          wx.config({
            debug: res.debug, // 开启调试模式,
            appId: res.appId, // 必填，企业号的唯一标识，此处填写企业号corpid
            timestamp: res.timestamp, // 必填，生成签名的时间戳
            nonceStr: res.nonceStr, // 必填，生成签名的随机串
            signature: res.signature,// 必填，签名，见附录1
            jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
          });
          wx.ready(function(){
              this.getLocation();
          }.bind(this))
          //this.getLocation();
          //setTimeout(this.getLocation, 1000)//1秒后自动触发定位
      }.bind(this));
    },
    getLocation: function(){
      wx.getLocation({
        type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
        success: function (res) {
          var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
          var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
          var speed = res.speed; // 速度，以米/每秒计
          var accuracy = res.accuracy; // 位置精度
          //console.log(res);
          this.lng = longitude
          this.lat = latitude
          this.getstations()
        }.bind(this)
      });
      //this.getstations()
    },
    showInput: function () {
      console.log(this.keywords)
      if(this.keywords){
        this.isSearch = true
        axios.post('/api/bus/busSearch', {name:this.keywords}).then(function (response) {
          this.lineSite = response.data.data;
          console.log(response.data.data);
        }.bind(this));
      }else {
        this.isSearch = false
      }
    },
    getPargam: function(){
      if(!Vue.prototype.idCardNumber){
        Vue.prototype.idCardNumber = this.idCardNumber
        Vue.prototype.uname = this.uname
      }
    },
    showBus: function(index){
      this.showbus = index
    },
    reflash: function(){
      layer.msg('定位中...',{icon:16,time:1000});
      this.getLocation()
    },
    siteMap: function(){
      Router.push({path: '/siteMap', query: {lat: this.lat,lng:this.lng}})
    }
  },
  components: {
    menuShow,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*新搜索框*/
.toggle{
  display: none;
}
.pop_list_title {
  width: 100%;
  height: 0.88rem;
  padding: 0.14rem 0.2rem;
  background: #36A3F9;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}

.pop_list_title .closespan {
  float: right;
  display: block;
  width: 0.9rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.32rem;
  color: #fff;
}

.pop_list_title .input_area {
  float: left;
  width: 70%;
  padding: 0.12rem;
  height: 0.6rem;
  background: #5DB4F9;
  margin-left: 0.1rem;
  border-radius: 0.16rem;
}

.pop_list_title .input_area input::-webkit-input-placeholder {
  color: #fff;
}

.pop_list_title .input_area input {
  font-size: 0.28rem;
  color: #fff;
  display: block;
  width: 90%;
  padding-left: 0.52rem;
  height: 0.36rem;
  line-height: 0.36rem;
  background: url(../assets/line/search2.png) no-repeat left center;
  background-size: 0.36rem 0.36rem;
  border: none;
}
.line_list{
  //margin-top:0.88rem;
}
.line_list .part{
  background: #fff;
  color:#292A2C;
  font-size: 0.32rem;
  //height:2.2rem;
  width:100%;
  margin-bottom: 0.2rem;
  padding:0.3rem;
  text-align:left;
  padding-bottom:0.2rem;
}
.line_list .site{
  height:0.5rem;
  line-height:0.5rem;
  padding-left: 0.52rem;
  margin-bottom: 0.2rem;
    background:url(../assets/line/pop_site.png) left no-repeat;
    background-size:0.36rem; 
}
.line_list .tit{
  height: 0.42rem;
  margin-bottom: 0.2rem;
}
.line_list .name{
  //padding-left: 0.52rem;
  float: left;
  //background:url(../assets/line/car.png) left no-repeat;
  background-size:0.36rem 0.36rem; 
  //color:#9A9DA0;
  padding-left: 0.3rem;
}
.line_list .distance{
  float: right;
  //color:#9A9DA0;
  color:#ee662d;
  margin-right: 0.35rem;
  font-size: 0.28rem;
}
.line_list .sitedistance{
  float: right;
  margin-right: 0.35rem;
}
.line_list .distance strong{
  font-size: 0.35rem;
  //color:#292A2C;
  margin:0 0.2rem;
}
.line_list .next_site{
  padding-left:0.56rem;
  color:#9A9DA0;
  font-size: 0.28rem;
}
.scroll{
  position:absolute;
  top:0.88rem;
  width:100%
}
.scroll ul {
    background: #fefefe;
}
.scroll ul li {
    border-bottom: 1px solid #dbe3ea;
    height: 0.88rem;
    line-height: 0.38rem;
    padding-left: 0.34rem;
    overflow:hidden;
}
.scroll li span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0.52rem;
}
.line{
    background: url(../assets/line/11.png) no-repeat left;
    background-size: 0.28rem 0.36rem;
    background-position: 0.4rem;
    text-align: left;
}
.site{
    background: url(../assets/line/pop_site.png) no-repeat left;
    background-size: 0.28rem 0.36rem;
    background-position: 0.4rem;
    text-align: left;
}
.site_big {
    display: block;
    font-size: 0.32rem;
    color: #4A4A4A;
    margin-top: 0.08rem;
    line-height: 0.68rem;
}
.line_list .sitedistance img{
  width: 0.4rem;
}
.redcolor{
  color:#ee662d
}
.blackcolor{
  color:#000
}
.yjfk{
  position:fixed;
  right:5px;
  bottom:1.1rem;
  font-size:0.23rem;
  color:#36a3f9;
}
.yjfk img{
    width:0.5rem;
    display:block;
}

/*地图*/
.map{
  height:11rem;
  font-size:0.2rem;
}
.column{
  z-index:1000;
}
/*切换*/
.tag {
    margin-top: 0.88rem;
    background-color: #fff;
    width: 100%;
    height: 0.8rem;
    font-size: 0.32rem;
}
.active{
    color: #36A3F9;
    border-bottom: 1px solid #36A3F9;
}
.tag a {
    text-align: center;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    width: 50%;
    color: #9A9DA0;
}
</style>
