<template>
    <div class="wapper">
        <div id="home" v-bind:style="{display: home}">
            <!-- <div class="pop_list_title">
                <span class="apptit">实时公交</span>
                <div class="input_area" id="shows">
                    <input placeholder="请输入地点" />
                </div>
            </div> -->
            <searchBox></searchBox>
            <form method="get" action="">
                <div class="search_wapper">
                    <div class="search_area">
                        <div class="row" v-on:click="Toggle('from')">
                            <span class="dot"><img src="../assets/line/arrow.png" alt="" /></span>
                            <input class="int" type="text" name="fromAddressPlace" value="" placeholder="我的位置" v-model="start.from" readonly="readonly" />
                        </div>
                        <div class="row" style="border-bottom: none" v-on:click="Toggle('to')">
                            <span class="dot"><img src="../assets/line/round_gray.png" alt="" /></span>
                            <input class="int" name="toAddressPlace" type="text" placeholder="输入终点" v-model="end.to" readonly="readonly" />
                        </div>
                    </div>
                    <div class="button_area">
                        <span class="ex" v-on:click="change"></span><span class="search" v-on:click="findTrans">搜索</span>
                    </div>
                </div>
            </form>
            
            <div class="pop_list" id="his_list" style="width:90%;margin:auto;padding-top:10px;z-index:0">
                <div class="his">热门站点</div>
                <ul style="background:#f2f2f2">
                  <router-link :to="{ path:'/transferList', query: { siteId:76, siteName:'贺华广场'}}">
                    <li class="his_item">
                        <span class="to">贺华广场<font style="font-size:0.23rem;color:#B7BABB">---商城，购物中心，金盈酒店，酒楼，KTV，沐足</font></span>
                    </li>
                  </router-link>
                  <router-link :to="{ path:'/transferList', query: { siteId:242, siteName:'大旺客运站'}}">
                    <li class="his_item">
                        <span class="to">大旺客运站<font style="font-size:0.23rem;color:#B7BABB">---车站，去广州，四会，佛山，肇庆，顺德</font></span>
                    </li>
                  </router-link>
                  <router-link :to="{ path:'/transferList', query: { siteId:213, siteName:'大旺轻轨站'}}">
                    <li class="his_item">
                        <span class="to">大旺轻轨站<font style="font-size:0.23rem;color:#B7BABB">---轻轨站，去佛山，去广州，去鼎湖端州</font></span>
                    </li>
                  </router-link>
                  <router-link :to="{ path:'/transferList', query: { siteId:268, siteName:'领域88'}}">
                    <li class="his_item">
                        <span class="to">领域88<font style="font-size:0.23rem;color:#B7BABB">---回家，领域88，珠影，尚城国际，香江国际</font></span>
                    </li>
                  </router-link>
                  <router-link :to="{ path:'/transferList', query: { siteId:68, siteName:'高新区人民医院'}}">
                    <li class="his_item">
                        <span class="to">高新区人民医院<font style="font-size:0.23rem;color:#B7BABB">---医院，中山附属第三医院</font></span>
                    </li>
                  </router-link>
                  <router-link :to="{ path:'/transferList', query: { siteId:38, siteName:'大旺广场'}}">
                    <li class="his_item">
                        <span class="to">大旺广场<font style="font-size:0.23rem;color:#B7BABB">---商业综合体，购物，娱乐，休闲，电影，美食</font></span>
                    </li>
                  </router-link>
                  <router-link :to="{ path:'/transferList', query: { siteId:180, siteName:'大旺公园'}}">
                    <li class="his_item">
                        <span class="to">大旺公园<font style="font-size:0.23rem;color:#B7BABB">---娱乐，活动，广场舞，散步，打球</font></span>
                    </li>
                  </router-link>  
                  <router-link :to="{ path:'/transferList', query: { siteId:290, siteName:'金海岸'}}">
                    <li class="his_item">
                        <span class="to">金海岸<font style="font-size:0.23rem;color:#B7BABB">---热门商圈，酒店，超市，沐足</font></span>
                    </li>
                  </router-link>
                </ul> 
                <div style="height:1rem;width:100%"></div>
            </div>
            <menuShow :menuSelect1="menuSelect"></menuShow>
        </div>
        <div  v-bind:style="{display: about}">
            <div class="pop_list" id="popsiteList">
                <div class="pop_list_title">
                    <span class="apptit"></span>
                    <div class="input_area" id="address_input" style="width:86%">
                        <input id="keywords" :placeholder=addressMsg v-model="keywords" v-on:input="showInput" />
                    </div>
                    <span class="closespan" v-on:click="homeShow">取消</span>
                </div>
                <div class="tishi" v-if="isActive">
                    <div class="lhis">搜索历史</div>
                    <div class="hisinfo" v-for="item in history" @click="selectInput2(item)">{{item.name}}</div>
                    <!--<div class="pormpt">
                        <div class="text">
                            <span class="bar"></span>
                            <span style="width:35%">您可以搜索</span>
                            <span class="bar"></span>
                        </div>
                        <div class="icon">
                            <span><img src="../assets/line/pop_line.png">线路</span>
                            <span><img src="../assets/line/pop_site.png">车站</span>
                            <span><img src="../assets/line/pop_postion.png">地点</span>
                        </div>
                    </div>-->
                </div>
                <div class="scroll">
                    <div class="title">
                        <span></span>
                    </div>
                    <ul class="max-height" v-for="(item, index) in hisTips">
                        <li  v-on:click="selectInput(index)" class="auto">
                            <span class='site_big'>{{item.name}}</span>
                            <span class='site_del'>{{item.district}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AMap from 'AMap'
import wx from 'weixin-js-sdk'
import axios from 'axios'
import searchBox from './searchBox.vue'
import menuShow from './menu.vue'
import Router from '../router/index.js'
import Vue from 'Vue'

export default {
  name: 'LineTransfer',
  data () {
    return {
      menuSelect:2,
      keywords: '',
      home: 'block',
      about: 'none',
      oneorTow: 'from',
      autocomplete: '',
      hisTips: [],
      start: {
        from: '',
        fromAddressLat: '',
        fromAddressLng: ''
      },
      end: {
        to: '',
        toAddressLat: '',
        toAddressLng: ''
      },
      isActive: true,
      addressMsg:"请输入地点",
      idCardNumber: '',
      uname: '',
      history:[]
    }
  },
  mounted: function () {
    this.autocomplete = new AMap.Autocomplete({
      city: '肇庆'
    })
    this.idCardNumber = Vue.prototype.idCardNumber
    this.uname = Vue.prototype.uname
    this.setPargam()
    this.getHistory()
  },
  methods: {
    Toggle: function (status) {
      if(status=="from"){
        this.addressMsg = "请输入起点"
      }else{
        this.addressMsg = "请输入终点"
      }
      this.home = 'none'
      this.about = 'block'
      this.oneorTow = status
      this.keywords = ''
      this.isActive = true
      this.hisTips = []
      this.$nextTick(function () {
        document.getElementById("keywords").focus()
      })
    },
    homeShow: function () {
      this.home = 'block'
      this.about = 'none'
    },
    showInput: function () {
      console.log(this.keywords)
      this.isActive = false
      this.autocomplete.search(this.keywords, function (status, result) {
        if (status === 'complete' && result.info === 'OK') {
          var tips = result.tips
          this.hisTips = []
          console.log('tips', tips)
          for (let i = 0; i < tips.length; i++) {
            if (tips[i].location !== '' && undefined !== tips[i].location && tips[i].district.substr(0, 6) === '广东省肇庆市') {
              this.hisTips.push({
                lng: tips[i].location.lng,
                lat: tips[i].location.lat,
                name: tips[i].name,
                district: tips[i].district
              })
            }
          }
        } else {
        }
      }.bind(this))
    },
    selectInput: function (index) {
      if (this.oneorTow === 'from') {
        this.start.from = this.hisTips[index].name
        this.start.fromAddressLng = this.hisTips[index].lng
        this.start.fromAddressLat = this.hisTips[index].lat
        Vue.prototype.start = this.start
      } else {
        this.end.to = this.hisTips[index].name
        this.end.toAddressLng = this.hisTips[index].lng
        this.end.toAddressLat = this.hisTips[index].lat
        Vue.prototype.end = this.end
      }
      this.home = 'block'
      this.about = 'none'
    },
    findTrans: function () {
      if(!this.start.fromAddressLat||!this.end.toAddressLat){
          alert("请输入始发点");
          return false;
      }
      Router.push({path: '/seartransferList', query: {from: this.start.from, fromAddressLat: this.start.fromAddressLat, fromAddressLng: this.start.fromAddressLng, to: this.end.to, toAddressLat: this.end.toAddressLat, toAddressLng: this.end.toAddressLng}})
    },
    change: function () {
      console.log(this.start, this.end)
      var {from, fromAddressLng, fromAddressLat} = this.start
      var {to, toAddressLng, toAddressLat} = this.end
      this.start.from = to
      this.start.fromAddressLng = toAddressLng
      this.start.fromAddressLat = toAddressLat
      this.end.to = from
      this.end.toAddressLng = fromAddressLng
      this.end.toAddressLat = fromAddressLat
      console.log(this.start, this.end)
    },
    wxInit: function(){
      var url = location.href.split('#')[0] //获取锚点之前的链接
      axios.post('/api/bus/getJssdk', {url:url}).then(function (response) {
          //console.log(response.data.data);
          var res = response.data.data
          wx.config({
            debug: res.debug, // 开启调试模式,
            appId: res.appId, // 必填，企业号的唯一标识，此处填写企业号corpid
            timestamp: res.timestamp, // 必填，生成签名的时间戳
            nonceStr: res.nonceStr, // 必填，生成签名的随机串
            signature: res.signature,// 必填，签名，见附录1
            jsApiList: ['getLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
          });
          this.getLocation();
      }.bind(this));
    },
    getLocation: function(){
      wx.getLocation({
        type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
        success: function (res) {
          var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
          var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
          var speed = res.speed; // 速度，以米/每秒计
          var accuracy = res.accuracy; // 位置精度
          console.log(res);
          this.start.fromAddressLng = longitude
          this.start.fromAddressLat = latitude
        }.bind(this)
      });
    },
    setPargam: function(){
      if(Vue.prototype.start){
        this.start = Vue.prototype.start
      }else{
        this.wxInit();
      }
      if(Vue.prototype.end){
        this.end = Vue.prototype.end
      }
    },
    getHistory: function(){
      axios.post('/api/bus/getHistory', {idCardNumber:this.idCardNumber}).then(function (response) {
          console.log(response.data)
          this.history = response.data.data
      }.bind(this));
    },
    selectInput2: function (item) {
      if (this.oneorTow === 'from') {
        this.start.from = item.name
        this.start.fromAddressLng = item.lng
        this.start.fromAddressLat = item.lat
        Vue.prototype.start = this.start
      } else {
        this.end.to = item.name
        this.end.toAddressLng = item.lng
        this.end.toAddressLat = item.lat
        Vue.prototype.end = this.end
      }
      this.home = 'block'
      this.about = 'none'
    },
  },
  components: {
    searchBox,
    menuShow
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.search_wapper{
  width:100%;
  height: 2.2rem;
  background: #fff;
  color:#999;
  font-size: 0.32rem;
}
.search_wapper .search_area{
  float: left;
  height: 1.8rem;
  /*width:5rem;*/
  display: inline-block;
  margin-top:0.16rem;
  margin-left: 0.5rem;
}
.search_wapper .row{
  height:0.9rem;
  border-bottom: 0.02rem solid #dbd6d6;
}
.search_wapper .row img{
  height:0.36rem;
}
.search_wapper .dot{
  line-height: 0.9rem;
}
.search_wapper .int{
  background-color:transparent;
  color:#000;
}
::-webkit-input-placeholder { /* WebKit browsers */  
    color:#999;
}  
.search_wapper .button_area{
  float: left;
  margin-top: 0.16rem;
  //margin-right: 0.3rem;
  height: 1.8rem;
  width:1.6rem;
}
.pop_list_title .input_area input::-webkit-input-placeholder {
    color: #fff;
}
.pop_list_title .input_area input {
    font-size: 0.28rem;
    color: #fff;
    display: block;
    width: 90%;
    padding-left: 0.52rem;
    height: 0.36rem;
    line-height: 0.36rem;
    background: url(../assets/line/search2.png) no-repeat left center;
    background-size: 0.36rem 0.36rem;
    border: none;
}
.search_wapper .ex{ 
  width: 0.3rem;
  background: url(../assets/line/change.png) no-repeat center center;
  background-size: 0.3rem 0.36rem;
  margin-left:0.32rem;
}
.search_wapper .search{
  float: right;
  color: #999;  
}
.search_wapper .button_area span{
    display: inline-block; 
    height: 1.8rem;
  line-height: 1.8rem;
}
/*提示*/
.tishi{
  width:100%;
  //height:4rem;
  color:#000;
  text-align: left;
  font-size: 0.35;
  //padding-top:1rem;
  margin-top:-0.5rem;
}
.tishi .lhis{
  padding-left:0.3rem;
  height:1.5rem;
}
.tishi .hisinfo{
  margin-left:0.3rem;
  padding-left:0.6rem;
  font-size: 0.32;
  height:0.8rem;
  line-height:0.8rem;
  background:url(../assets/line/pop_site.png) left no-repeat;
  background-size:0.36rem;
}
.tishi span{
  display: inline-block;
  width:33%;
}
.tishi .pormpt{
  width:60%;
  margin:0 auto;
}
.tishi .text{
  height:1.4rem;
  line-height: 1.4rem;
  font-size: 0.28rem;
  color:#999;
}
.tishi .bar{
  height:0.02rem;
  border-top:0.02rem solid #999;
  width:20%;
  vertical-align: middle;
}
.tishi .icon span{
    width:33%;
  font-size: 0.24rem;
  color:#999;
}
.tishi .icon img{
  width:0.52rem;
  display: block;
  margin:0 auto;
  margin-bottom: -0.2rem;
}
/*历史记录*/
.pop_list {
    width: 100%;
    background: #efeff4;
    /*position:fixed;top:0;*/
    z-index: 1001;
    padding-top: 0.88rem;
    position: relative;
}
.pop_list li span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0.52rem;
}
.pop_list_title .closespan {
    float: right;
    display: block;
    width: 0.7rem;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.28rem;
    color: #fff;
}
.pop_list .his{
  width: 100%;
  height:0.7rem;
  font-size: 0.34rem;
  color:red;
  background:#F2F2F2;
  line-height: 0.7rem;
  //padding-left: 0.3rem;
  text-align:left;
  padding-left: 0.9rem;
  background: url(../assets/line/hot.jpg) no-repeat left;
}
.pop_list .his_item{
  height: 0.8rem;
  background:#fff;
  padding-left: 0.3rem;
  font-size: 0rem;
  text-align:left;
}
.pop_list .his_item span{
  display: inline-block;
  font-size: 0.32rem;
  height:0.8rem;
  line-height: 0.8rem;
  vertical-align: middle;
}
a li{
  margin-top:0.2rem;
}
.pop_list .from{
  color:#B7BABB;
  //padding-left: 0.56rem;
  //background: url(../assets/line/arrow.png) no-repeat left;
  //background-size: 0.36rem;
}
.pop_list .dot{
  margin:0 0.15rem;
  width:0.24rem;
  background:url(../assets/line/to.png) no-repeat left;
  background-size: 0.24rem 0.16rem;
  padding-left: 0;
}
.pop_list .to{
  color:#353738;
  padding-left: 0;
}
.remove{border-bottom: none;}
.pop_list ul {
    background: #fff;
}

.pop_list ul li {
    border-bottom: 1px solid #dbe3ea;
    height: 1rem;
    line-height: 0.38rem;
    padding-left: 0.34rem;
    overflow:hidden;
}
.pop_list .auto{
    background: url(../assets/line/position.png) no-repeat left;
    background-size: 0.28rem 0.36rem;
    background-position: 0.4rem;
    text-align: left;
}
.site_big {
    display: block;
    font-size: 0.38rem;
    color: #4A4A4A;
    margin-top: 0.08rem;
    height: 0.5rem;
    line-height: 0.5rem;
}
.site_del {
    display: block;
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.35rem;
    color: #9b9b9b;
}
.clearhistory {
    background: #fff;
    height: 1.08rem;
    line-height: 0.76rem;
    padding: 0.16rem 0.4rem;
    text-align: center;
    font-size: 0.32rem;
    color: #4A4A4A;
}
/*查询线路*/
.tag {
    background-color: #fff;
    width: 100%;
    height: 0.8rem;
    font-size: 0.32rem;
}

.tag a:hover{
    color: #36A3F9;
    border-bottom: 1px solid #36A3F9;
}

.tag a {
    text-align: center;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    width: 1.6rem;
    color: #9A9DA0;
}
.line_wapper .line_info{
  height:1.7rem;
  margin:0.2rem 0;
  background: #fff;
  padding:0.3rem;
}
.line_wapper .site{
    font-size: 0.32rem;
    color: #292A2C;
    margin-bottom: 0.3rem;
    height: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.line_wapper .site .dot_s{
  float: left;
  width:0.56rem;
  height:0.42rem;
  background: url(../assets/line/car.png) no-repeat left center;
    background-size: 0.36rem 0.32rem;
}
.line_wapper .site span{
    width: 40%;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.line_wapper .from{

}
.line_wapper .tit{
    color:#9A9DA0;
    font-size: 0.26rem;
    padding-left:0.58rem;
    margin-bottom: 0.2rem; 
    height:0.42rem;
}
.line_wapper .tit span{
    float: left;
    margin-right: 0.3rem;
    max-width: 30%;
    overflow:hidden;
    text-overflow: ellipsis;
  white-space: nowrap;
}
.slist{
  padding:15px;
  overflow:hidden;
}
.slist a{
  float:left;
  border-bottom: 1px solid #dbe3ea;
  font-size:0.3rem;
  padding: 5px;
  background:#fff;
  margin:5px;
  border-radius:10px;
}
</style>
