<template>
  <div class="wapper">
    <div class="title">
       <div class="search">
          <span v-if="haveBus==3">距 <strong>{{siteNum}}</strong> 站</span>
          <span style="color:#f0585d;font-size:0.32rem" v-else-if="haveBus==0">等待发车</span>
          <span style="color:#f0585d;font-size:0.32rem" v-else-if="haveBus==1">即将</span>
          <span style="color:#f0585d;font-size:0.32rem" v-else-if="haveBus==2">已经</span>
          <span style="color:#f0585d;font-size:0.32rem">{{time_msg}}</span>
          <span style="">到达</span>
          <span style="color:#000">{{siteName}}</span>
      </div>
    </div>
    <div id="map" class="map"></div>
  </div>
</template>


<script>
import AMap from 'AMap'
import Vue from 'Vue'
import axios from 'axios'

export default {
  name: 'lineMap',
  data () {
    return {
      siteId: this.$route.query.siteId,
      lineId: this.$route.query.lineId,
      siteName: this.$route.query.siteName,
      siteNum: this.$route.query.siteNum,
      haveBus: this.$route.query.haveBus,
      time_msg: this.$route.query.time_msg,
      lng:'',
      lat:'',
      siteList: [],
      busList:[]
    }
  },
  mounted: function () {
    this.getstations()
  },
  methods: {
    getstations: function(){
      axios.post('/api/bus/getLineMap', {siteId:this.siteId,lineId:this.lineId}).then(function (response) {
        this.siteList = response.data.data.siteList; 
        this.busList = response.data.data.buslist;
        this.lng = response.data.data.lng;
        this.lat = response.data.data.lat;
        console.log(response.data.data);
        this.map()
      }.bind(this));
    },
    map: function(){
      var map = new AMap.Map('map', {
         center:[this.lng,this.lat],
         zoom:16,
         resizeEnable: true
      });
      // 同时引入工具条插件，比例尺插件和鹰眼插件
      AMap.plugin([
          'AMap.ToolBar',
          'AMap.Scale'
      ], function(){
          // 在图面添加工具条控件，工具条控件集成了缩放、平移、定位等功能按钮在内的组合控件
          map.addControl(new AMap.ToolBar());

          // 在图面添加比例尺控件，展示地图在当前层级和纬度下的比例尺
          map.addControl(new AMap.Scale());
      });
      //车辆位置
      for (var i = 0, marker; i < this.busList.length; i++) {
            var icon = new AMap.Icon({
                size: new AMap.Size(24,15),    // 图标尺寸
                image: 'http://www.bus.com/bus_red.png',  // Icon的图像
                imageOffset: new AMap.Pixel(0,0),  // 图像相对展示区域的偏移量，适于雪碧图等
                imageSize: new AMap.Size(24,15)   // 根据所设置的大小拉伸或压缩图片
            });
            var marker = new AMap.Marker({
                icon: icon,
                position: [this.busList[i].lng,this.busList[i].lat],
                map: map
            });
      }
      //站点位置
      var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});
      for (var i = 0, marker; i < this.siteList.length; i++) {
          if(this.siteList[i].id==this.siteId){
            var marker = new AMap.Marker({
                icon: "https://webapi.amap.com/theme/v1.3/markers/n/mark_r.png",
                position: [this.siteList[i].lng,this.siteList[i].lat],
                map: map
            });
            marker.id = i;
            marker.content = this.siteList[i].siteName;
            marker.on('click', markerClick);
            marker.emit('click', {target: marker});
          }else{
            var marker = new AMap.Marker({
                position: [this.siteList[i].lng,this.siteList[i].lat],
                map: map
            });
            marker.id = i;
            marker.content = this.siteList[i].siteName;
            marker.on('click', markerClick);
          }
      }
      function markerClick(e) {
          infoWindow.setContent(e.target.content);
          infoWindow.open(map, e.target.getPosition());
          //count(e.target.id)
          //console.log(busList);
      }
      function count(index){
        for (let i = 0; i <= busList.length; i++) {
          if (index  >= this.busList[i]) {
            var siteNum = Math.ceil(index - busList[i].now_station_num)
            
          }
        }
      }
      //车辆位置
      for (var i = 0, marker; i < this.busList.length; i++) {
            var icon = new AMap.Icon({
                size: new AMap.Size(24,15),    // 图标尺寸
                image: 'https://zhgj.zqgx.gov.cn/bus_red.png',  // Icon的图像
                imageOffset: new AMap.Pixel(0,0),  // 图像相对展示区域的偏移量，适于雪碧图等
                imageSize: new AMap.Size(24,15)   // 根据所设置的大小拉伸或压缩图片
            });
            var marker = new AMap.Marker({
                icon: icon,
                position: [this.busList[i].lng,this.busList[i].lat],
                map: map
            });
      }
      map.setFitView();
    },
  },
  components: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.title{
  background:#fff;
  height:0.88rem;
  width:100%;
  padding-top:0.14rem;
}
.search{
    text-align: center;
    margin:0 auto;
    border-radius: 2rem;
    height:0.6rem;
    line-height: 0.6rem;
    width:90%;
    background:#fff;
    font-size: 0.28rem;
    color:#B7BABB;
}
.search strong {
  font-size: 0.32rem;
  color: #353738;
}
/*新搜索框*/
.map{
  height:13rem;
  font-size:0.2rem;
}
</style>
