<template>
<div class="column">
  <router-link to="/">
    <div class="column_item" v-bind:class="{ gray: menuSelect!=1 }"><img src="../assets/line/bus.png" v-if="menuSelect==1"/>
    <img src="../assets/line/bus2.png" v-else/>
      <br/>首页</div>
  </router-link>
  <router-link to="/LineTransfer">
    <div class=" column_item" v-bind:class="{ gray: menuSelect!=2 }"><img src="../assets/line/line.png" v-if="menuSelect==2"/>
    <img src="../assets/line/line2.png" v-else/>
      <br/>路线</div>
  </router-link>
  <router-link to="/cx">
    <div class=" column_item" v-bind:class="{ gray: menuSelect!=3 }"><img src="../assets/line/cx.png" v-if="menuSelect==3"/>
    <img src="../assets/line/cx2.png" v-else/>
      <br/>出行</div>
  </router-link>
  <router-link to="/user">
    <div class=" column_item" v-bind:class="{ gray: menuSelect!=4 }"><img src="../assets/line/user.png" v-if="menuSelect==4"/>
    <img src="../assets/line/user2.png" v-else/>
      <br/>个人</div>
  </router-link>
</div>
</template>
<script>
export default {
  props: ["menuSelect1"],
  data () {
    return {
      menuSelect:1,
    }
  },
  mounted() {
    this.menuSelect = this.menuSelect1;
  }
}
</script>
<style scoped>

</style>