<template>
    <div class="wapper">
        <div class="line_wapper" id="search_result">
            <!--<div class="tag">
                <a id="time" style="margin-left:0.4rem;" v-bind:class="{active: defaults}" v-on:click='change(0)'>较快捷</a><a id="walk" style="margin-left:0.8rem;" v-on:click='change(3)'>少步行</a><a id="transfle" style="margin-left:0.8rem;" v-on:click='change(2)'>少换乘</a>
            </div>-->
            <div class="title">
               <div>从：<font color="green">{{fromName}}</font></div>
               <div>到：<font color="green">{{toName}}</font></div>
            </div>
            <div id="time_list" v-for='(item,index) in plan'>
                <div class="line_info">
                    <div class="site">
                        <span class="dot_s"></span>
                        <span class="from">{{item.trans.join(' -->')}}</span>
                        <img src="../assets/line/xia.png" v-bind:class="{ toggle: showbus==index }" @click="showBus(index)"/>
                    </div>
                    <div style="border-top:1px #36A3F9 solid;" v-bind:class="{ toggle: showbus!=index }">
                      <div class="tit">
                        <div v-for="segments in item.segments">
                         <div v-bind:class="[segments.transit_mode=='WALK'?'walk':'bus']" v-if="segments.transit_mode=='WALK'"">{{segments.instruction}}</div>
                         <div v-bind:class="[segments.transit_mode=='WALK'?'walk':'bus']" @click="showMap(segments.instruction)" v-else>{{segments.instruction}}</div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div style="height:1rem;width:100%"></div>
        </div>
        <div class="sm_noneTic" v-bind:style="{display:none_data}" id="none_data">
            <img src="../assets/line/icon-none.png" alt="无数据" />
            <strong>暂无线路信息</strong>
        </div>
    </div>
</template>

<script>
import AMap from 'AMap'
import axios from 'axios'
import Router from '../router/index.js'
import Vue from 'Vue'

export default {
  name: 'seartransferList',
  data () {
    return {
      transfer: '',
      none_data: 'none',
      oneorTow: 'from',
      autocomplete: '',
      keywords: '',
      plan: [],
      fromName: this.$route.query.from,
      toName: this.$route.query.to,
      showbus:0,
      idCardNumber: '',
      uname: '',
    }
  },
  mounted: function () {
    this.idCardNumber = Vue.prototype.idCardNumber
    this.uname = Vue.prototype.uname
    AMap.service('AMap.Transfer', function () { // 回调函数
      // 实例化Transfer
      var transptions = {
        policy: 0, // 乘车策略，少时间0 少步行3 最少换乘2
        city: '苏州'  // 城市
      }
      this.transfer = new AMap.Transfer(transptions)
      this.Linesearch()
    }.bind(this))
  },
  methods: {
    Toggle: function (status) {
      this.home = 'none'
      this.about = 'block'
      this.oneorTow = status
    },
    homeShow: function () {
      this.home = 'block'
      this.about = 'none'
    },
    change: function (status) {
      this.defaults = false
      console.log(status)
      var transptions = {
        policy: status, // 乘车策略，少时间0 少步行3 最少换乘2
        city: '苏州'  // 城市
      }
      this.transfer = new AMap.Transfer(transptions)
      this.Linesearch()
    },
    Linesearch: function () {
      this.plan = []
      console.log(this.$route.query.fromAddressLat, this.$route.query.fromAddressLng, this.$route.query.toAddressLat, this.$route.query.toAddressLng)
      this.transfer.search([this.$route.query.fromAddressLng, this.$route.query.fromAddressLat], [this.$route.query.toAddressLng, this.$route.query.toAddressLat], function (status, result) {
        console.log(status)
        console.log(result)
        if (status === 'complete' && result.info === 'OK') {
          var plans = result.plans
          console.log('plans', plans)
          for (var i = 0; i < plans.length; i++) {
            var cost = plans[i].cost
            var time = parseInt(plans[i].time / 60)
            var segments = plans[i].segments
            var trans = []
            if (segments !== '' && segments !== undefined) {
              for (var j = 0; j < segments.length; j++) {
                if (segments[j].transit_mode === 'BUS') {
                  const linename = segments[j].instruction
                  trans.push(linename.substr(2, linename.indexOf('(') - 2))
                } else if (segments[j].transit_mode === 'SUBWAY') {
                  const linename = segments[j].instruction
                  trans.push(linename.substr(2, linename.indexOf('线') - 2))
                }
              }
            }
            this.plan.push({
              cost: cost,
              time: time,
              trans: trans,
              segments:segments
            })
          }
        } else {
        }
        this.saveHistory()
      }.bind(this))
    },
    showBus: function(index){
      this.showbus = index
    },
    showMap: function(name){
       axios.post('/api/bus/mapLine', {name:name}).then(function (response) {
          var res = response.data
          if(res.code==1){
            Router.push({path: '/simpleMap', query: {siteId: res.data.siteId,  lineId:res.data.lineId, siteName:''}})
          }else{
            layer.msg(res.msg);
          }
      });
    },
    saveHistory: function(){
      axios.post('/api/bus/saveHistory', {idCardNumber:this.idCardNumber,uname:this.uname,fromName:this.fromName,fromAddressLat:this.$route.query.fromAddressLat, fromAddressLng:this.$route.query.fromAddressLng,toName:this.toName, toAddressLat:this.$route.query.toAddressLat, toAddressLng:this.$route.query.toAddressLng}).then(function (response) {
          //console.log(response.data)
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*查询线路*/
.tag {
    background-color: #fff;
    width: 100%;
    height: 0.8rem;
    font-size: 0.32rem;
}
.tag a:hover{
    color: #36A3F9;
    border-bottom: 1px solid #36A3F9;
}
.active{
    color: #36A3F9;
    border-bottom: 1px solid #36A3F9;
}

.tag a {
    text-align: center;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    width: 1.6rem;
    color: #9A9DA0;
}
.line_wapper .title{
    width: 100%;
    height: 1.1rem;
    font-size: 0.35rem;
    background: url(../assets/line/linec.png) no-repeat left;
    background-size: 0.8rem;
    padding:0.1rem;
    padding-left: 1rem;
    text-align:left;
    background-color: #fff;
}
.line_wapper .line_info{
  //height:1.7rem;
  margin:0.2rem 0;
  background: #fff;
  padding:0.3rem;
}
.line_wapper .site{
    font-size: 0.35rem;
    color: #000;
    margin-bottom: 0.2rem;
    //height: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.line_wapper .site .dot_s{
  float: left;
  width:0.56rem;
  height:0.42rem;
  background: url(../assets/line/car.png) no-repeat left center;
    background-size: 0.36rem 0.32rem;
}
.line_wapper .site span{
    width: 40%;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.line_wapper .from{

}
.line_wapper .tit{
    color:#9A9DA0;
    font-size: 0.31rem;
    //padding-left:0.58rem;
    margin-bottom: 0.2rem; 
    //height:0.42rem;
    text-align: left;
}
.line_wapper .tit span{
    float: left;
    margin-right: 0.3rem;
    max-width: 30%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.line_wapper .tit .walk{
   padding-top:0.2rem;
   padding-left:0.58rem;
   background: url(../assets/line/walk.png) no-repeat left center;
   background-size: 0.36rem 0.36rem;
}
.line_wapper .tit .bus{
   padding-top:0.2rem;
   padding-left:0.58rem;
   background: url(../assets/line/bus.png) no-repeat left center;
   background-size: 0.3rem 0.26rem;
   background-color: #eee;
}
.site img{
  float: right;
  margin-right: 0.1rem;
  height:0.5rem;
}
.toggle{
  display: none;
}
</style>
