<template>
  <div class="wapper">
    <div class="info_wapper">
      <div class="line_info">
        <div class="site">
          <span class="from" id="from">{{ from }}</span>
          <span class="to" id="to">{{ to }}</span>
        </div>
        <div class="tit">
          <span class="time_s">首班:<strong >{{ time_s }}</strong></span>
          <span class="time_e">末班:<strong >{{ time_e }}</strong></span>
          <span class="price">票价:<strong >{{ pay }}</strong>元</span>
        </div>
      </div>
      <div class="distance">
        <div class="time" id="distance">
          <span v-if="haveBus==3">距 <strong id="dis_num">{{siteNum}}</strong> 站</span>
          <span style="color:#f0585d;font-size:0.32rem" v-else-if="haveBus==0">等待发车</span>
          <span style="color:#f0585d;font-size:0.32rem" v-else-if="haveBus==1">即将</span>
          <span style="color:#f0585d;font-size:0.32rem" v-else-if="haveBus==2">已经</span>
          <span style="color:#f0585d;font-size:0.32rem">{{time_msg}}</span>
        </div>
        <span class="arr">到达</span>
        <span class="next_site">{{text}}</span>
      </div>
    </div>
    <div class="site_list">
      <div id="tab" class="wapper_sitelist">
        <ul class="road" :style="{width: listWidth + 'rem'}">
          <li class='part' v-for="(item, index) in siteList" @click="showActive(index, item.siteName,item.id)">
            <span class="dot_p" :class="{'dot_show': ind === index}"></span>
            <span class='dot_r'></span>
            <div class='name'>
              <span class='dot_d ' :class="{'dot_d_show': ind === index}"></span>
              <span class='text ' :class="{'text_show': ind === index}">{{item.siteName}}</span>
            </div>
          </li>
        </ul>
        <div class="bus_road" :style="backImage"></div>
        <div class="bus_msg" :style="{left:bus_msg + 'rem'}">目前位置</div>
      </div>
      <div class="button" style="right:2.18rem" @click="refrash">
        <img src="../assets/line/refrash.png" />
        <span>刷新</span>
      </div>
      <div class="button" style="right:1.24rem" @click="changeDirect">
        <img src="../assets/line/change3.png" />
        <span>换向</span>
      </div>
      <router-link :to="{ path:'/lineMap', query: { siteId: this.selectSiteId,siteName:this.siteName,lineId:this.lineId,siteNum:this.siteNum,haveBus:this.haveBus,time_msg:this.time_msg}}">
      <div class="button" style="right:0.3rem" @click="gotoMap">
        <img src="../assets/line/map.png" />
        <span>地图</span>
      </div>
      </router-link>
    </div>
  </div>
</template>
<script>
import AMap from 'AMap'
import axios from 'axios'

export default {
  name: 'simpleMap',
  data () {
    return {
      siteId: this.$route.query.siteId,
      lineId: this.$route.query.lineId,
      siteName: this.$route.query.siteName,
      siteList: [],
      time_s: '',
      time_e: '',
      from: '',
      busPosition: [],
      to: '',
      lineInfo: [],
      listWidth: '',
      isActive: false,
      pay: '',
      ind: '',
      text: this.$route.query.siteName,
      backImage: {
        backgroundImage: 'url(' + require('../assets/line/bus_red.png') + '),url(' + require('../assets/line/bus_red.png') + '),url(' + require('../assets/line/bus_red.png') + '),url(' + require('../assets/line/bus_red.png') + '),url(' + require('../assets/line/bus_red.png') + '),url(' + require('../assets/line/bus_red.png') + '),url(' + require('../assets/line/bus_red.png') + ')',
        backgroundPosition: '',
        width: ''
      },
      siteNum: '0',
      haveBus: 1,//0无车，1即将到达 2已到达 3显示预计时间
      is_get_back:false,
      is_frash:false,
      time_msg:'',
      bus_msg:'-2',
      selectSiteId: this.$route.query.siteId,
    }
  },
  mounted: function () {
    this.getStations();
    //setInterval(this.getStations, 5000)
    setTimeout(this.getStations, 1000)//1秒后自动触发滚动到当前站点位置
  },
  methods: {
    getStations: function(){
      axios.post('/api/bus/getBusStations', {lineId:this.lineId,siteId:this.siteId,is_get_back:this.is_get_back}).then(function (response) {
        var data = response.data.data;
        this.time_s = data.time_s;
        this.time_e = data.time_e;
        this.pay = data.pay;
        this.from = data.from;
        this.to = data.to;
        this.siteList = data.siteList;
        this.listWidth = data.listWidth;
        this.backImage.width = data.listWidth + 'rem'
        this.busPosition = data.busPosition;
        this.backImage.backgroundPosition = data.backgroundPosition;
        if(!this.is_frash){//标记是刷新，不用重新滚动位置
          this.ind = data.ind;       
        }
        this.showActive(this.ind, data.siteList[this.ind].siteName,data.siteList[this.ind].id)
        this.move(this.ind)
        console.log(response.data.data);
      }.bind(this));
    },
    showActive: function (index, siteName,siteId) {
      this.ind = index
      this.selectSiteId = siteId
      this.siteName = siteName
      this.text = siteName
      var TF = false
      var bus = 0
      for (let i = 0; i <= this.busPosition.length; i++) {
        if (index  >= this.busPosition[i]) {
          this.haveBus = 3
          this.siteNum = Math.ceil(index - this.busPosition[i])
          this.bus_msg = this.busPosition[i]
          TF = true
          bus = i
        }
      }
      if (TF === false) {
        this.haveBus = 0
        this.time_msg = ''
        this.bus_msg = '-2'
        return;
      }else{//计算距离，预估到达时间
        if(this.siteNum==0){//已到站
          this.haveBus = 2
          this.time_msg = ''
          return;
        }else if(index - this.busPosition[bus]<=0.8){
          this.haveBus = 1
          this.time_msg = ''
          return;
        }
        var start_num = Math.floor(this.busPosition[bus])//距离计算开始点
        var end_num = this.ind//计算结束点
        var total_dis = 0;//总距离公里数
        for(let i=start_num; i<=end_num-1 ; i++){
          //console.log(this.siteList[i])
          var dis = this.distanc(this.siteList[i].siteLng,this.siteList[i].siteLat,this.siteList[i+1].siteLng,this.siteList[i+1].siteLat)
          //判断第一个站剩下的距离
          if(i==start_num){
             dis = dis*(1-(this.busPosition[bus] - start_num))//第一站剩下的距离
          }
          //由于我们计算的是直线距离，所以会比实际距离短，适当把距离增大20%
          dis = dis*1.2;
          total_dis+=dis;
          //console.log(dis);
        }
        //时间预估 按车辆50公里每小时计算
        var time = (total_dis/30)*60;//分钟
        //按前面每个站点停车时间1分钟计算
        time = time + (end_num-start_num-1)*1
        this.time_msg = '约'+Math.ceil(time)+'分钟'
      }
      //this.move(index)
    },
    move: function(num){
        var mw = parseInt(getComputedStyle(window.document.documentElement)['font-size']);
        var tab=document.getElementById("tab");
        var swidth = 0;
        if(num>5){
          var swidth = (num-3)*mw;      
        }
        tab.scrollLeft = swidth;
        //console.log(tab.scrollLeft);
    },
    changeDirect: function () {
       this.is_frash = false;//标记不是刷新
       this.is_get_back=!this.is_get_back;
       this.getStations();
    },
    refrash: function(){
      this.is_frash = true;//标记是刷新，不用重新滚动位置
      this.getStations();
    },
    gotoMap:function(){

    },
    rad: function(d){//距离计算辅助方法
        return d * Math.PI / 180.0;
    },
    distanc: function(lng1,lat1,lng2,lat2){//地图两点距离计算方法
       var EARTH_RADIUS = 6378.137;
       var radLat1 = this.rad(lat1);
       var radLat2 = this.rad(lat2);
       var a = radLat1 - radLat2;
       var b = this.rad(lng1) - this.rad(lng2);
       var s = 2 * Math.asin(Math.sqrt(Math.pow(Math.sin(a/2),2) +
        Math.cos(radLat1)*Math.cos(radLat2)*Math.pow(Math.sin(b/2),2)));
       s = s * EARTH_RADIUS;
       s = Math.round(s * 10000) / 10000;
       return s;
    }
  }
}
</script>
<style scoped>
.info_wapper {
  height: 3.12rem;
  background: #36A3F9;
  padding: 0.3rem;
}

.info_wapper .info {}

.info_wapper .site {
  font-size: 0.32rem;
  color: #fff;
  margin-bottom: 0.2rem;
  text-align: left;
}

.info_wapper .site span {
  width: 40%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info_wapper .from {
  padding-left: 0.52rem;
  background: url(../assets/line/position2.png) no-repeat left;
  background-size: 0.28rem 0.32rem;
}

.info_wapper .tit {
  color: #fff;
  font-size: 0.26rem;
  padding-left: 0.52rem;
  margin-bottom: 0.2rem;
  height: 0.42rem;
}

.info_wapper .tit span {
  float: left;
  margin-right: 0.3rem;
}

.info_wapper .distance {
  height: 1.3rem;
  background: #fff;
  border-radius: 0.08rem;
  font-size: 0rem;
  color: #B7BABB;
  line-height: 1.3rem;
  text-align: center;
}

.info_wapper .time {
  float: left;
  width: 40%;
  font-size: 0.26rem;
  height: 1.3rem;
  line-height: 1.3rem;
}

.info_wapper .time strong {
  font-size: 0.32rem;
  color: #353738;
}

.info_wapper .arr {
  float: left;
  width: 20%;
  font-size: 0.26rem;
}

.info_wapper .next_site {
  width: 40%;
  font-size: 0.32rem;
  color: #353738;
  text-overflow: ellipsis;
  line-height: 0.4rem;
  display: inline-block;
  vertical-align: middle;
}




/*站点列表*/

.site_list {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 1.64rem;
}

.site_list .button {
  width: 0.64rem;
  height: 0.64rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 0.4rem;
  font-size: 0.12rem;
  color: #36A3F9;
  line-height: 0.34rem;
  text-align: center;
}

.site_list .bus_road {
  height: 0.28rem;
  background-repeat: no-repeat;
  background-size: 0.48rem 0.24rem;
  position: absolute;
  top: 0.3rem;
  left: 0;
  z-index: 1001;
}

.site_list .button span {
  font-size: 0.24rem;
  transform: scale(0.7);
  display: block;
}

.site_list .button img {
  width: 0.24rem;
  display: block;
  margin: 0 auto;
  margin-top: 0.05rem;
}

.site_list .wapper_sitelist {
  width: 100%;
  overflow-x: scroll;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.wapper_sitelist::-webkit-scrollbar {
  display: none;
}

.site_list .road {}

.site_list .part {
  width: 1rem;
  float: left;
}

.site_list .dot_p {
  width: 1rem;
  height: 0.36rem;
  display: block;
}

.site_list .dot_show {
  background: url(../assets/line/position_red.png) no-repeat center;
  background-size: 0.28rem 0.36rem;
}

.site_list .dot_r {
  width: 1rem;
  height: 0.2rem;
  background: url(../assets/line/road.png) no-repeat center;
  background-size: 100%;
  margin-top: 0.1rem;
  display: block;
}

.site_list .name {
  width: 0.36rem;
  margin: auto;
}

.site_list .dot_d {
  width: 0.12rem;
  height: 0.12rem;
  border-radius: 50%;
  background: #B3B3B3;
  margin-top: 0.1rem;
  margin-right: 0.12rem;
  display: block;
  float: right;
}

.site_list .dot_d_show {
  background: #F0585D;
}

.site_list .text_show {
  color: #F0585D;
}

.site_list .text {
  font-size: 0.32rem;
  width: 0.36rem;
  margin-top: 0.2rem;
  float: right;
}
.bus_msg{
  width:1.2rem;
  text-align: center;
  font-size:0.26rem;
  position:absolute;
  color:red;
}
</style>
