<template>
  <div class="wapper">
      <div id="map" class="map"></div>
      <div class="info">
        <div class="name">{{info.name}}
          <div class="dh" @click="goTo()"><img src="../assets/line/goto.jpg"></div>
        </div>
        <div class="address">{{info.distance}} | {{info.address}}</div>
        <div class="xing">
          <img src="../assets/line/xing2.png" v-if="info.start>0"><img src="../assets/line/xing1.png" v-else></span>
          <img src="../assets/line/xing2.png" v-if="info.start>1"><img src="../assets/line/xing1.png" v-else></span>
          <img src="../assets/line/xing2.png" v-if="info.start>2"><img src="../assets/line/xing1.png" v-else></span>
          <img src="../assets/line/xing2.png" v-if="info.start>3"><img src="../assets/line/xing1.png" v-else></span>
          <img src="../assets/line/xing2.png" v-if="info.start>4"><img src="../assets/line/xing1.png" v-else></span>
        </div>
        <router-link :to="{ path:'/detail', query: { id:this.info.id,lng:this.lng,lat:this.lat}}"><div class="detail">查看详情 ></div></router-link>
      </div> 
      <div class="dw" @click="dw()"><img  src="../assets/line/22.png"></div>
  </div>
</template>


<script>
import AMap from 'AMap'
import wx from 'weixin-js-sdk'
import Vue from 'Vue'
import axios from 'axios'
import Router from '../router/index.js'

export default {
  name: 'siteMap',
  data () {
    return {
      mapobj:'',
      items: [],
      info:{name:"",distance:"",address:""},
      lat:23.303222,
      lng:112.813175,
      msg:'数据加载中......',
      idCardNumber: this.$route.query.idCardNumber,
      uname: this.$route.query.uname,
    }
  },
  mounted: function () {
    this.$nextTick(() => {
      setTimeout(() => {
        this.wxInit()
      }, 100)
    })
    this.getcesuo()
  },
  methods: {
    wxInit: function(){
      layer.msg('定位中...',{icon:16,time:1000});
      this.getPargam()
      var url = location.href.split('#')[0] //获取锚点之前的链接
      axios.post('/api/cesuo/getJssdk', {url:url}).then(function (response) {
          //console.log(response.data.data);
          var res = response.data.data
          wx.config({
            debug: res.debug, // 开启调试模式,
            appId: res.appId, // 必填，企业号的唯一标识，此处填写企业号corpid
            timestamp: res.timestamp, // 必填，生成签名的时间戳
            nonceStr: res.nonceStr, // 必填，生成签名的随机串
            signature: res.signature,// 必填，签名，见附录1
            jsApiList: ['getLocation','openLocation'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
          });
          wx.ready(function(){
              this.getLocation();
          }.bind(this))
      }.bind(this));
    },
    getLocation: function(){
      wx.getLocation({
        type: 'gcj02', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
        success: function (res) {
          var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
          var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
          var speed = res.speed; // 速度，以米/每秒计
          var accuracy = res.accuracy; // 位置精度
          //console.log(res);
          this.lng = longitude
          this.lat = latitude
          this.getcesuo()
        }.bind(this)
      });
      //this.getcesuo()
    },
    getcesuo: function(){
      axios.post('/api/cesuo/getCesuo', {lat:this.lat,lng:this.lng}).then(function (response) {
        this.items = response.data.data.list; 
        this.info = this.items[0];
        console.log(response.data.data);
        this.map()
      }.bind(this));
    },
    map: function(){
      this.mapobj = new AMap.Map('map', {
         center:[this.lng,this.lat],
         zoom:13,
         resizeEnable: true
      });
      /*var circle = new AMap.Circle({
          center: new AMap.LngLat(this.lng,this.lat), // 圆心位置
          radius: 10,  //半径
          strokeColor: "#F33",  //线颜色
          strokeOpacity: 1,  //线透明度
          strokeWeight: 3,  //线粗细度
          fillColor: "#ee2200",  //填充颜色
          fillOpacity: 0.35 //填充透明度
      });
      this.mapobj.add(circle);*/
      var icon = new AMap.Icon({
          size: new AMap.Size(32,32),    // 图标尺寸
          image: 'https://zhgj.zqgx.gov.cn/mydw.png',  // Icon的图像
          imageOffset: new AMap.Pixel(0,0),  // 图像相对展示区域的偏移量，适于雪碧图等
          imageSize: new AMap.Size(32,32)   // 根据所设置的大小拉伸或压缩图片
      });
      var marker = new AMap.Marker({
          icon: icon,
          position: [this.lng,this.lat],
          map: this.mapobj
      });
      // 同时引入工具条插件，比例尺插件和鹰眼插件
      /*AMap.plugin([
          'AMap.ToolBar',
          'AMap.Scale',
          'AMap.Geolocation',
      ], function(){
          // 在图面添加工具条控件，工具条控件集成了缩放、平移、定位等功能按钮在内的组合控件
          this.mapobj.addControl(new AMap.ToolBar());

          // 在图面添加比例尺控件，展示地图在当前层级和纬度下的比例尺
          this.mapobj.addControl(new AMap.Scale());
         
          // 在图面添加定位控件，用来获取和展示用户主机所在的经纬度位置
          //this.mapobj.addControl(new AMap.Geolocation());
      });*/
      var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});
      for (var i = 0, marker; i < this.items.length; i++) {
          var icon = new AMap.Icon({
              size: new AMap.Size(32,32),    // 图标尺寸
              image: 'https://zhgj.zqgx.gov.cn/cesuo.png',  // Icon的图像
              imageOffset: new AMap.Pixel(0,0),  // 图像相对展示区域的偏移量，适于雪碧图等
              imageSize: new AMap.Size(32,32)   // 根据所设置的大小拉伸或压缩图片
          });
          var marker = new AMap.Marker({
              icon: icon,
              topWhenClick:true,
              position: [this.items[i].longitude,this.items[i].latitude],
              map: this.mapobj
          });
          marker.id = i;
          marker.content = this.items[i].name;
          marker.on('click', this.markerClick);
      }
      /*function markerClick(e) {
          infoWindow.setContent(e.target.content);
          infoWindow.open(this.mapobj, e.target.getPosition());
      };*/
      //this.mapobj.setCenter([this.lng, this.lat]); //设置地图中心点
      //this.mapobj.setFitView();
    },
    getPargam: function(){
      if(!Vue.prototype.idCardNumber){
        Vue.prototype.idCardNumber = this.idCardNumber
        Vue.prototype.uname = this.uname
      }
    },
    reflash: function(){
      layer.msg('定位中...',{icon:16,time:1000});
      this.getLocation()
    },
    markerClick:function(e){
      //获取所有marker
      var allmarker = this.mapobj.getAllOverlays('marker');
      for (var i = 0; i < allmarker.length; i++) {
          if(allmarker[i].id>=0){
            var icon = new AMap.Icon({
                size: new AMap.Size(32,32),    // 图标尺寸
                image: 'https://zhgj.zqgx.gov.cn/cesuo.png',  // Icon的图像
                imageOffset: new AMap.Pixel(0,0),  // 图像相对展示区域的偏移量，适于雪碧图等
                imageSize: new AMap.Size(32,32)   // 根据所设置的大小拉伸或压缩图片
            });
            allmarker[i].setIcon(icon);
          }
      }
      this.info = this.items[e.target.id];
      var newIcon = new AMap.Icon({
          size: new AMap.Size(38,38),    // 图标尺寸
          image: 'https://zhgj.zqgx.gov.cn/cesuo2.png',  // Icon的图像
          imageOffset: new AMap.Pixel(0,0),  // 图像相对展示区域的偏移量，适于雪碧图等
          imageSize: new AMap.Size(38,38)   // 根据所设置的大小拉伸或压缩图片
      });
      e.target.setIcon(newIcon);
    },
    goTo: function(){
       //window.open('https://m.amap.com/navigation/walkmap/saddr='+this.lng+','+this.lat+',我的位置&daddr='+this.info.longitude+','+this.info.latitude+','+this.info.address+'&sort=dist');
       //window.location.href='https://m.amap.com/navigation/walkmap/saddr='+this.lng+','+this.lat+',我的位置&daddr='+this.info.longitude+','+this.info.latitude+','+this.info.address+'&sort=dist';
       wx.openLocation({
          latitude: this.info.latitude, // 纬度，浮点数，范围为90 ~ -90
          longitude: this.info.longitude, // 经度，浮点数，范围为180 ~ -180。
          name: this.info.name, // 位置名
          address: this.info.address, // 地址详情说明
          scale: 15, // 地图缩放级别,整形值,范围从1~28。默认为最大
          infoUrl: '' // 在查看位置界面底部显示的超链接,可点击跳转
        });
    },
    dw: function(){
      this.mapobj.setCenter([this.lng, this.lat]); //设置地图中心点
    }
  },
  components: {
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
/*地图*/
.map{
  height:11.5rem;
  font-size:0.2rem;
}
.info{
  position: fixed;
  bottom:0;
  left:0;
  z-index:1000;
  height:2.8rem;
  width:100%;
  background:#fff;
  font-size:0.32rem;
  text-align:left;
  padding:0.2rem;
}
.info .name{
   font-size:0.35rem;
   line-height:0.6rem;
   font-weight:bold;
   overflow: hidden;
}
.info .name .dh{
   font-size:0.26rem;
   width:30%;
   //height:0.5rem;
   //line-height:0.5rem;
   //background: #36A3F9;
   float: right;
   color:#fff;
   font-weight:normal; 
   overflow: hidden; 
   margin-top:0rem;
}
.dh img{
  float: left;
  width:90%;
  //height:0.5rem;
  margin-left:0.1rem;
}
.info .address{
  margin-top:0px;
}
.xing img{
  width:0.4rem;
  margin-top:0.1rem;
}

.dw{
  position: fixed;
  top:1rem;
  right:0.3rem;
  z-index:1000;
  background: #fff;
  text-align:center;
  border-radius:50px;
  width:0.6rem;
  height:0.6rem;
}
.dw img{
  position: absolute;
  width:100%;
  top:0rem;
  right:0rem;
}
.detail{
   width:1.8rem;
   font-size:0.3rem;
   border:1px #1ACF64 solid;
   border-radius:15px;
   margin-top:10px;
   padding:2px;
   color:#1ACF64;
   text-align:center;
}
</style>
