<template>
    <div class="wapper">
        <div class="line_wapper" id="search_result">
            <!--<div class="tag">
                <a id="time" style="margin-left:0.4rem;" v-bind:class="{active: defaults}" v-on:click='change(0)'>较快捷</a>
                <a id="walk" style="margin-left:0.8rem;" v-on:click='change(3)'>少步行</a>
                <a id="transfle" style="margin-left:0.8rem;" v-on:click='change(2)'>少换乘</a>
            </div>-->
            <div id="time_list" v-for='item in plan'>
              <router-link :to="{ path:'/simpleMap', query: { siteId: siteId,  lineId:item.lineId, siteName: siteName}}">
                <div class="line_info">
                    <!--<div class="site">
                        <span class="dot_s"></span>
                        <span class="from">{{item.lineName}}</span>
                    </div>
                    <div class="tit">
                        <span class="time_s">约 {{item.time}} 分钟</span>
                        <span class="price">票价:{{item.cost}}元</span>
                    </div>-->
                    <div class="site">
                      <span class="dot_s"></span>
                      <span class="from"><strong>{{item.line_name}}</strong></span>
                      <span class="distance">距离<strong>{{item.diff_num}}</strong>站</span>
                    </div>
                    <div class="tit">
                        <span class="next_site" style="padding-left:0rem">方向：<font color="#000">{{item.end_name}}</font></span>
                        <span class="next_site" style="float:right;margin-right: 0.35rem">下一站：<font v-bind:class="[item.next_name=='等待发车'?'redcolor':'blackcolor']">{{item.next_name}}</font></span>
                    </div>
                </div>
              </router-link>
            </div>
        </div>
        <div class="sm_noneTic" v-bind:style="{display:none_data}" id="none_data">
            <img src="../assets/line/icon-none.png" alt="无数据" />
            <strong>暂无线路信息</strong>
        </div>
    </div>
</template>

<script>
import AMap from 'AMap'
import axios from 'axios'

export default {
  name: 'transferList',
  data () {
    return {
      siteId: this.$route.query.siteId,
      lineName: this.$route.query.lineName,
      siteName: this.$route.query.siteName,
      defaults:false,
      transfer: '',
      none_data: 'none',
      oneorTow: 'from',
      autocomplete: '',
      keywords: '',
      plan: []
    }
  },
  mounted: function () {
    this.Linesearch();
  },
  methods: {
    /*change: function (status) {
      this.defaults = false
      this.Linesearch()
    },*/
    Linesearch: function () {
      axios.post('/api/bus/getLines', {siteId:this.siteId}).then(function (response) {
        var data = response.data.data;
        this.plan = data;
      }.bind(this));
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.search_wapper{
  width:100%;
  height: 2.2rem;
  background: #fff;
  color:#999;
  font-size: 0.32rem;
  margin-top:0.88rem;
}
.search_wapper .search_area{
  height: 1.8rem;
  width:5rem;
  display: inline-block;
  margin-top:0.16rem;
  margin-left: 0.5rem;
}
.search_wapper .row{
  height:0.9rem;
  border-bottom: 0.02rem solid #dbd6d6;
}
.search_wapper .row img{
  height:0.36rem;
}
.search_wapper .dot{
  line-height: 0.9rem;
}
.search_wapper .int{
  background-color:transparent;
  color:#000;
}
::-webkit-input-placeholder { /* WebKit browsers */  
    color:#999;
}  
.search_wapper .button_area{
  float: right;
  margin-top: 0.16rem;
  margin-right: 0.3rem;
  height: 1.8rem;
  width:1.6rem;
}
.pop_list_title .input_area input::-webkit-input-placeholder {
    color: #fff;
}

.pop_list_title .input_area input {
    font-size: 0.28rem;
    color: #fff;
    display: block;
    width: 90%;
    padding-left: 0.52rem;
    height: 0.36rem;
    line-height: 0.36rem;
    background: url(../assets/line/search2.png) no-repeat left center;
    background-size: 0.36rem 0.36rem;
    border: none;
}
.search_wapper .ex{ 
  width: 0.3rem;
  background: url(../assets/line/change.png) no-repeat center center;
  background-size: 0.3rem 0.36rem;
  margin-left:0.32rem;
}
.search_wapper .search{
  float: right  
}
.search_wapper .button_area span{
    display: inline-block; 
    height: 1.8rem;
  line-height: 1.8rem;
}
/*历史记录*/
.pop_list {
    width: 100%;
    background: #efeff4;
    /*position:fixed;top:0;*/
    z-index: 1001;
    padding-top: 0.88rem;
    position: relative;
}
.pop_list li span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 0.52rem;
}
.pop_list_title .closespan {
    float: right;
    display: block;
    width: 0.7rem;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.28rem;
    color: #fff;
}
.pop_list .his{
  width: 100%;
  height:0.7rem;
  font-size: 0.28rem;
  color:#B7BABB;
  background:#F2F2F2;
  line-height: 0.7rem;
  padding-left: 0.3rem;
}
.pop_list .his_item{
  height: 0.9rem;
  background:#fff;
  padding-left: 0.3rem;
  font-size: 0rem;
}
.pop_list .his_item span{
  display: inline-block;
  font-size: 0.28rem;
  height:0.9rem;
  line-height: 0.9rem;
  vertical-align: middle;
}
.pop_list .from{
  color:#B7BABB;
  padding-left: 0.56rem;
  background: url(../assets/line/arrow.png) no-repeat left;
  background-size: 0.36rem;
}
.pop_list .dot{
  margin:0 0.15rem;
  width:0.24rem;
  background:url(../assets/line/to.png) no-repeat left;
  background-size: 0.24rem 0.16rem;
  padding-left: 0;
}
.pop_list .to{
  color:#353738;
  padding-left: 0;
}
.remove{border-bottom: none;}
.pop_list ul {
    background: #fff;
}

.pop_list ul li {
    border-bottom: 1px solid #dbe3ea;
    height: 0.88rem;
    line-height: 0.38rem;
    padding-left: 0.34rem;
    overflow:hidden;
}
.pop_list .auto{
    background: url(../assets/line/position.png) no-repeat left;
    background-size: 0.28rem 0.36rem;
    background-position: 0.4rem;
    text-align: left;
}
.site_big {
    display: block;
    font-size: 0.32rem;
    color: #4A4A4A;
    margin-top: 0.08rem;
    /*line-height: 0.68rem;*/
}
.site_del {
    display: block;
    height: 0.36rem;
    line-height: 0.36rem;
    font-size: 0.24rem;
    color: #9b9b9b;
}
.clearhistory {
    background: #fff;
    height: 1.08rem;
    line-height: 0.76rem;
    padding: 0.16rem 0.4rem;
    text-align: center;
    font-size: 0.32rem;
    color: #4A4A4A;
}
/*查询线路*/
.tag {
    background-color: #fff;
    width: 100%;
    height: 0.8rem;
    font-size: 0.32rem;
}
.tag a:hover{
    color: #36A3F9;
    border-bottom: 1px solid #36A3F9;
}
.active{
    color: #36A3F9;
    border-bottom: 1px solid #36A3F9;
}

.tag a {
    text-align: center;
    display: inline-block;
    height: 0.8rem;
    line-height: 0.8rem;
    width: 1.6rem;
    color: #9A9DA0;
}
.line_wapper .line_info{
  height:1.7rem;
  margin:0.2rem 0;
  background: #fff;
  padding:0.3rem;
}
.line_wapper .site{
    font-size: 0.32rem;
    color: #292A2C;
    margin-bottom: 0.3rem;
    height: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}
.line_wapper .site .dot_s{
  float: left;
  width:0.56rem;
  height:0.42rem;
  background: url(../assets/line/car.png) no-repeat left center;
    background-size: 0.36rem 0.32rem;
}
.line_wapper .site span{
    /*width: 40%;*/
    white-space:nowrap;
    text-overflow: ellipsis;
}
.line_wapper .from{

}
.line_wapper .tit{
    color:#9A9DA0;
    font-size: 0.28rem;
    /*padding-left:0.58rem;*/
    margin-bottom: 0.2rem; 
    height:0.42rem;
}
.line_wapper .tit span{
    float: left;
    margin-right: 0.3rem;
    /*max-width: 30%;*/
    overflow:hidden;
    text-overflow: ellipsis;
  white-space: nowrap;
}
.line_info .distance strong{
  font-size: 0.35rem;
  //color:#292A2C;
  color:#ee662d;
  margin:0 0.2rem;
}
.line_info .distance{
  float: right;
  //color:#9A9DA0;
  color:#ee662d;
  margin-right: 0.35rem;
  font-size: 0.28rem;
}
.redcolor{
  color:#ee662d
}
.blackcolor{
  color:#000
}
</style>
