<template>
    <div class="wapper">
        <div class="title">
           <div class="search">
            <span>个人中心</span>
          </div>
        </div>
        <div class="info">{{uname}}</div>
        <div class="content">
          <router-link :to="{ path:'/feedbackList'}"><div class="list bline">我的反馈</div></router-link>
          <div class="list">关于我们</div>
        </div>
        <menuShow :menuSelect1="menuSelect"></menuShow>
    </div>
</template>

<script>
import Vue from 'Vue'
import axios from 'axios'
import menuShow from './menu.vue'

export default {
  name: 'user',
  data () {
    return {
      menuSelect:4,
      idCardNumber: '',
      uname: '',
    }
  },
  mounted: function () {
    //this.Linesearch();
    console.log(Vue.prototype.idCardNumber)
    this.idCardNumber = Vue.prototype.idCardNumber
    this.uname = Vue.prototype.uname
  },
  methods: {
    
  },
  components: {
    menuShow,
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.title{
  background:#36A3F9;
  height:0.88rem;
  width:100%;
  padding-top:0.14rem;
}
.search{
  text-align: center;
    margin:0 auto;
    border-radius: 2rem;
    height:0.6rem;
    line-height: 0.6rem;
    width:90%;
    /*background:#88bfec;*/
    font-size: 0.28rem;
    color:#fff;
}
/*
.search span{
    padding-left:0.56rem;
    line-height: 0.6rem;
    background: url(../assets/line/search2.png) no-repeat left;
    background-size: 0.32rem;
}
*/
.info{
  width:100%;
  background:#fff;
  margin-top:0rem;
  font-size:0.4rem;
  height:1rem;
  line-height:1rem;
}
.content{
  width:100%;
  background:#fff;
  margin-top:0.3rem;
  padding-left:0.8rem;
}
.bline{
  border-bottom:1px solid #efeff4
}
.list{
  text-align:left;
  height:1rem;
  line-height:1rem;
  font-size:0.3rem;
  background: url(../assets/line/pre.png) no-repeat right;
}
</style>
